# Import data

In [11]:
import numpy as np
import pandas as pd
import json

In [12]:
file = '../raw_data/full_dump.json'
with open(file) as data_file:    
    data = json.load(data_file) 
len(data)

35320

In [13]:
data_keys = list(data.keys())
data_keys[:5]

['EU Challenger Series/2017 Season/Spring Qualifiers/Scoreboards_1_1',
 'EU Challenger Series/2017 Season/Spring Qualifiers/Scoreboards_2_1',
 'EU Challenger Series/2017 Season/Spring Qualifiers/Scoreboards_3_1',
 'EU Challenger Series/2017 Season/Spring Qualifiers/Scoreboards_4_1',
 'EU Challenger Series/2017 Season/Spring Qualifiers/Scoreboards_5_1']

In [14]:
import re

pattern = r'(\d{4})'
re.search(pattern, data_keys[2]).group(1)

year = []
no_year = []
for i in range(len(data_keys)):
    try:
        year.append(re.search(pattern, data_keys[i]).group(1))
    except:
        no_year.append(data_keys[i])

np.unique(year), len(no_year)

(array(['2016', '2017', '2018', '2019', '2020', '2021'], dtype='<U4'), 1703)

# Normalize the JSON file

Normalize means to expand the nested keys in the JSON file and the subsequent DataFrame.

In [15]:
#Normalize the complete dataframe and make a copy
df_normalized_teams = pd.json_normalize(data.values())
df_teams = df_normalized_teams.copy()
df_teams.sample(2)

,id,start,patch,winner,duration,picks_bans,teams.BLUE.name,teams.BLUE.total_turret_kills,teams.BLUE.total_inhibitor_kills,teams.BLUE.total_rift_herald_kills,...,teams.BLUE.side,teams.BLUE.players,teams.RED.name,teams.RED.total_turret_kills,teams.RED.total_inhibitor_kills,teams.RED.total_rift_herald_kills,teams.RED.total_dragon_kills,teams.RED.total_baron_kills,teams.RED.side,teams.RED.players
13924,LCK/2019 Season/Summer Season/Scoreboards/Week...,None,9.11,BLUE,2119,"[{'champion_name': 'Irelia', 'is_ban': True}, ...",Kingzone DragonX,9,1,1,...,BLUE,"[{'name': 'Rascal', 'id': 194868, 'role': 'TOP...",SK Telecom T1,5,1,0,2,0,RED,"[{'name': 'Khan', 'id': 171549, 'role': 'TOP',..."
8282,CLS/2018 Season/Closing Season/Scoreboards/Wee...,None,8.13,BLUE,2272,"[{'champion_name': 'Lucian', 'is_ban': True}, ...",Furious Gaming,11,3,0,...,BLUE,"[{'name': 'Acce', 'id': 188821, 'role': 'TOP',...",Hafnet eSports,3,0,1,2,2,RED,"[{'name': 'Sunblast', 'id': 218399, 'role': 'T..."

In [16]:
len(np.unique(df_teams['patch']))

120

In [17]:
#Make a dataframe dedicated to the teams 
df_teams.drop(['teams.BLUE.players', 'teams.RED.players', 'picks_bans'], axis=1, inplace=True)
df_teams.head(2)

,id,start,patch,winner,duration,teams.BLUE.name,teams.BLUE.total_turret_kills,teams.BLUE.total_inhibitor_kills,teams.BLUE.total_rift_herald_kills,teams.BLUE.total_dragon_kills,teams.BLUE.total_baron_kills,teams.BLUE.side,teams.RED.name,teams.RED.total_turret_kills,teams.RED.total_inhibitor_kills,teams.RED.total_rift_herald_kills,teams.RED.total_dragon_kills,teams.RED.total_baron_kills,teams.RED.side
0,EU Challenger Series/2017 Season/Spring Qualif...,None,6.24,BLUE,2023,Fnatic Academy,11,3,0,2,1,BLUE,EURONICS Gaming,4,0,0,1,0,RED
1,EU Challenger Series/2017 Season/Spring Qualif...,None,6.24,RED,1782,AlienTech eSports,3,0,0,0,0,BLUE,Team Larssen,7,1,1,2,1,RED

In [18]:
#Make a dataframe dedicated to the team BLUE
df_normalized_teams['teams.BLUE.players'].explode()
df_normalized_BLUE = pd.json_normalize(df_normalized_teams['teams.BLUE.players'].explode())
df_BLUE = df_normalized_BLUE.copy()
df_BLUE.head(5)

,name,id,role,champion_name,champion_id,gold_15,kills_assists_15,deaths_15,total_gold,total_cs,total_kills,total_monster_kills,total_assists,total_deaths,total_damage_taken,total_damage_dealt,win,side
0,Kikis,172122.0,TOP,Nautilus,111,5326.0,8.0,1.0,12504,233,2,0,6,1,18220,156270,True,BLUE
1,Broxah,193072.0,JGL,Lee Sin,64,5261.0,11.0,1.0,12352,153,4,132,7,1,22212,152183,True,BLUE
2,Nisqy,185791.0,MID,Syndra,134,6009.0,13.0,1.0,13393,229,5,6,8,1,10647,177681,True,BLUE
3,MrRallez,183407.0,BOT,Jhin,202,5304.0,11.0,0.0,13969,315,2,5,9,0,9758,228328,True,BLUE
4,Klaj,171882.0,SUP,Karma,43,2767.0,12.0,0.0,9740,38,1,0,11,0,11917,34299,True,BLUE

In [19]:
#Check that it matches 5 players per game
len(df_BLUE)/5

35320.0

In [20]:
#Make a dataframe dedicated to the team RED
df_normalized_teams['teams.RED.players'].explode()
df_normalized_RED = pd.json_normalize(df_normalized_teams['teams.RED.players'].explode())
df_RED = df_normalized_RED.copy()
df_RED.head(5)

,name,id,role,champion_name,champion_id,gold_15,kills_assists_15,deaths_15,total_gold,total_cs,total_kills,total_monster_kills,total_assists,total_deaths,total_damage_taken,total_damage_dealt,win,side
0,Phones,193289.0,TOP,Maokai,57,4528.0,2.0,7.0,9611,190,1,13,1,7,41065,111536,False,RED
1,Obvious,187241.0,JGL,Rengar,107,4728.0,2.0,1.0,9640,174,0,126,2,1,27879,147035,False,RED
2,MagiFelix,181359.0,MID,Ryze,13,4893.0,2.0,3.0,11840,301,0,2,2,3,16013,205899,False,RED
3,Sedrion,197437.0,BOT,Varus,110,5133.0,2.0,1.0,12010,283,2,1,0,1,10370,184927,False,RED
4,Noxiak,185879.0,SUP,Nami,267,2521.0,2.0,2.0,7348,16,0,0,2,2,13815,15418,False,RED

In [21]:
#Make a dataframe dedicated to the Bans
df_normalized_teams['picks_bans'].explode()
df_normalized_BANS = pd.json_normalize(df_normalized_teams['picks_bans'].explode())
df_BANS = df_normalized_BANS.copy()
df_BANS.isnull().sum()/len(df_BANS)

champion_name    0.019285
is_ban           0.019285
dtype: float64

##  Include the game id to match later different DataFrames

We have two different dataframes for team Blue and team Red, later, we can merge them on the game id. This will also be useful when we want to come back for the y parameter!

In [22]:
get_index = df_normalized_teams['id'].tolist()
index_preproc = np.asarray([[index] * 5 for index in get_index])
index_teams = index_preproc.reshape(len(df_normalized_teams) * 5).tolist()
df_RED['game_id'] = index_teams
df_BLUE['game_id'] = index_teams
len(index_teams)/5

35320.0

In [23]:
df_BLUE[df_BLUE['game_id'] == '2016 International Wildcard Invitational/Scoreboards/Bracket Stage_1_1']

,name,id,role,champion_name,champion_id,gold_15,kills_assists_15,deaths_15,total_gold,total_cs,total_kills,total_monster_kills,total_assists,total_deaths,total_damage_taken,total_damage_dealt,win,side,game_id
165535,Smurf,197966.0,TOP,Trundle,48,5175.0,8.0,3.0,15494,294,0,15,8,3,36337,241203,True,BLUE,2016 International Wildcard Invitational/Score...
165536,PvPStejos,194522.0,JGL,Graves,104,4865.0,11.0,2.0,16049,177,6,148,5,2,25664,231200,True,BLUE,2016 International Wildcard Invitational/Score...
165537,Kira,172113.0,MID,Lissandra,127,5533.0,14.0,2.0,16549,325,3,25,11,2,25513,252607,True,BLUE,2016 International Wildcard Invitational/Score...
165538,Onesh0tiq,188541.0,BOT,Lucian,236,5722.0,13.0,1.0,18339,356,6,15,7,1,15931,251707,True,BLUE,2016 International Wildcard Invitational/Score...
165539,Likkrit,179739.0,SUP,Tahm Kench,223,3386.0,10.0,2.0,12309,80,1,6,9,2,23811,56257,True,BLUE,2016 International Wildcard Invitational/Score...

In [24]:
df_RED[df_RED['game_id'] == '2016 International Wildcard Invitational/Scoreboards/Bracket Stage_1_1']

,name,id,role,champion_name,champion_id,gold_15,kills_assists_15,deaths_15,total_gold,total_cs,total_kills,total_monster_kills,total_assists,total_deaths,total_damage_taken,total_damage_dealt,win,side,game_id
165535,Yang,205635.0,TOP,Maokai,57,4891.0,9.0,2.0,12994,260,1,12,8,2,26978,182014,False,RED,2016 International Wildcard Invitational/Score...
165536,Revolta,195157.0,JGL,Kindred,203,4730.0,6.0,3.0,12638,178,1,122,5,3,27564,195085,False,RED,2016 International Wildcard Invitational/Score...
165537,tockers,201599.0,MID,Ekko,245,5159.0,9.0,2.0,13866,285,5,10,4,2,31698,215422,False,RED,2016 International Wildcard Invitational/Score...
165538,micaO,182405.0,BOT,Jinx,222,5994.0,9.0,5.0,15322,356,3,14,6,5,19697,249792,False,RED,2016 International Wildcard Invitational/Score...
165539,Jockster,169596.0,SUP,Thresh,412,3155.0,6.0,4.0,8906,36,0,0,6,4,18449,20745,False,RED,2016 International Wildcard Invitational/Score...

# [SKIP for now] Filter years that are going to be analyzed

Currently not working... there is nothing in variable = 'start'

In [25]:
# Get the years and the number of games played
df_normalized_teams['start'] = pd.to_datetime(df_normalized_teams['start'])
df_normalized_teams['year'] = pd.DatetimeIndex(df_normalized_teams['start']).year
games_year = df_normalized_teams.year.unique()

for year in games_year:
    N_games = len(df_normalized_teams[df_normalized_teams['year'] == year])
    print(f'Number of games in {year}: {N_games}')

Number of games in nan: 0

In [26]:
# Function that returns a Dataframe just with the years of interest
def choose_years_to_work(df, *args):
    years_dict = {}
    for year in args:
        years_dict[year] = df[df['year'] == year]
    return pd.concat(years_dict).droplevel(0)

df_data_by_year = choose_years_to_work(df_normalized_teams, 2021)
df_data_by_year.drop('start', axis=1, inplace=True)

# [SKIP] Retrieve the champions stats given a champion id and merge with the BLUE/RED team

From the page https://ddragon.leagueoflegends.com/cdn/12.3.1/data/en_US/champion.json, get the stats of a champion given a key or id value.

In [27]:
'''champion_description = '../raw_data/lol_12_3_1.json'

with open(champion_description) as data_file:    
    data_champions = json.load(data_file)'''

"champion_description = '../raw_data/lol_12_3_1.json'\n\nwith open(champion_description) as data_file:    \n    data_champions = json.load(data_file)"

In [28]:
# get the key and the stats for every champion in this version
# create a new dictionary with only the values of interest

'''champions_dict = {}
champions_names = list(data_champions['data'].keys())
for champion in champions_names:
    champions_dict[int(data_champions['data'][champion]['key'])] = data_champions['data'][champion]['stats']
champions_df = pd.DataFrame(champions_dict)
champions_df = champions_df.T
champions_df.reset_index(level=0, inplace=True)
champions_df['champion'] = champions_df['index']
champions_df.drop('index', axis=1, inplace=True)
champions_df'''

"champions_dict = {}\nchampions_names = list(data_champions['data'].keys())\nfor champion in champions_names:\n    champions_dict[int(data_champions['data'][champion]['key'])] = data_champions['data'][champion]['stats']\nchampions_df = pd.DataFrame(champions_dict)\nchampions_df = champions_df.T\nchampions_df.reset_index(level=0, inplace=True)\nchampions_df['champion'] = champions_df['index']\nchampions_df.drop('index', axis=1, inplace=True)\nchampions_df"

In [29]:
#Merge with BLUE team and drop the id of the champion, no needed anymore
'''df_BLUE = pd.merge(df_normalized_BLUE, champions_df, left_on='champion_id', right_on='champion', how='left')
df_BLUE.drop(['champion', 'champion_id'], axis=1, inplace=True)'''

"df_BLUE = pd.merge(df_normalized_BLUE, champions_df, left_on='champion_id', right_on='champion', how='left')\ndf_BLUE.drop(['champion', 'champion_id'], axis=1, inplace=True)"

In [30]:
#Merge with RED team and drop the id of the champion, no needed anymore
'''df_RED = pd.merge(df_normalized_RED, champions_df, left_on='champion_id', right_on='champion', how='left')
df_RED.drop(['champion', 'champion_id'], axis=1, inplace=True)'''

"df_RED = pd.merge(df_normalized_RED, champions_df, left_on='champion_id', right_on='champion', how='left')\ndf_RED.drop(['champion', 'champion_id'], axis=1, inplace=True)"

In [31]:
# do some feature engineering

# Merge and Flatten Blue and Red data

## Flatten the numerical data

Add all the numerical data per game id, i.e., how many is the added value of one game (how much gold, kills, damage, etc., for the 5 players)

In [32]:
df_BLUE_flatten = df_BLUE.drop(['id', 'champion_id'], axis=1).groupby('game_id').sum()
df_RED_flatten = df_RED.drop(['id', 'champion_id'], axis=1).groupby('game_id').sum()

## Get the role and the champion name into one variable and flatten it out

How to do it for multiple variables: 
```Python
df_BLUE['name_with_role'] = df_BLUE['role'] + df_BLUE['champion_name']
 
df_BLUE[['side', 'champion_name', 'role', 'game_id', 'name_with_role']].groupby('game_id').aggregate({
    'role': lambda x: ' '.join(x),
    'side': lambda y: ' '.join(y),
    'champion_name': lambda y: ' '.join(x or '' for x in y),
    'name_with_role': lambda y: ' '.join(str(x) or '' for x in y),
})
```

In [33]:
# We are just going to join the role plus the champion per game
## For the BLUE team
df_BLUE['name_with_role'] = df_BLUE['role'] + df_BLUE['champion_name']
df_BLUE_ROLE_CHAMPION = df_BLUE[['game_id', 'name_with_role']].groupby('game_id').aggregate({
    'name_with_role': lambda y: ' '.join(str(x) or '' for x in y),
})

df_BLUE_ROLE_CHAMPION.reset_index(level=0, inplace=True)
df_BLUE_WITH_ROLE_CHAMPION = pd.merge(df_BLUE_flatten, df_BLUE_ROLE_CHAMPION, on='game_id', how='inner')
df_BLUE_WITH_ROLE_CHAMPION.sample(2)

,game_id,gold_15,kills_assists_15,deaths_15,total_gold,total_cs,total_kills,total_monster_kills,total_assists,total_deaths,total_damage_taken,total_damage_dealt,win,name_with_role
23618,Magyar Nemzeti E-sport BajnoksÃ¡g/Season 3/Scor...,22277.0,77.0,29.0,67142,1103,22,276,55,29,136198,896251,0,TOPSylas JGLOlaf MIDGalio BOTJinx SUPKarma
2537,CBLOL/2017 Season/Split 2 Playoffs/Scoreboards...,23531.0,85.0,19.0,74043,1044,22,158,63,19,153597,934237,0,TOPRenekton JGLGragas MIDGalio BOTVarus SUPRakan

In [34]:
## For the RED team
df_RED['name_with_role'] = df_RED['role'] + df_RED['champion_name']
df_RED_ROLE_CHAMPION = df_RED[['game_id', 'name_with_role']].groupby('game_id').aggregate({
    'name_with_role': lambda y: ' '.join(str(x) or '' for x in y),
})

df_RED_ROLE_CHAMPION.reset_index(level=0, inplace=True)
df_RED_WITH_ROLE_CHAMPION = pd.merge(df_RED_flatten, df_RED_ROLE_CHAMPION, on='game_id', how='inner')
df_RED_WITH_ROLE_CHAMPION.sample(2)

,game_id,gold_15,kills_assists_15,deaths_15,total_gold,total_cs,total_kills,total_monster_kills,total_assists,total_deaths,total_damage_taken,total_damage_dealt,win,name_with_role
14166,LCK/2020 Season/Summer Season/Scoreboards/Week...,24623.0,8.0,11.0,54166,1212,3,206,5,11,91973,839608,0,TOPRenekton JGLNidalee MIDAzir BOTAshe SUPPant...
3769,CLS/2018 Season/Opening Season/Scoreboards/Wee...,23162.0,28.0,19.0,52869,1031,8,180,20,19,102488,666833,0,TOPOrnn JGLSkarner MIDSyndra BOTCaitlyn SUPMor...

## Merge BLUE and RED team data into one DataFrame

In [35]:
df_BLUE_RED = pd.merge(df_BLUE_WITH_ROLE_CHAMPION, df_RED_WITH_ROLE_CHAMPION, on='game_id', how='inner')
df_BLUE_RED[['name_with_role_x', 'name_with_role_y']].head(2)

,name_with_role_x,name_with_role_y
0,TOPTrundle JGLGraves MIDLissandra BOTLucian SU...,TOPMaokai JGLKindred MIDEkko BOTJinx SUPThresh
1,TOPGragas JGLKindred MIDLeBlanc BOTKalista SUP...,TOPEkko JGLElise MIDAnivia BOTLucian SUPTrundle

In [36]:
df_BLUE_RED.keys()

Index(['game_id', 'gold_15_x', 'kills_assists_15_x', 'deaths_15_x',
       'total_gold_x', 'total_cs_x', 'total_kills_x', 'total_monster_kills_x',
       'total_assists_x', 'total_deaths_x', 'total_damage_taken_x',
       'total_damage_dealt_x', 'win_x', 'name_with_role_x', 'gold_15_y',
       'kills_assists_15_y', 'deaths_15_y', 'total_gold_y', 'total_cs_y',
       'total_kills_y', 'total_monster_kills_y', 'total_assists_y',
       'total_deaths_y', 'total_damage_taken_y', 'total_damage_dealt_y',
       'win_y', 'name_with_role_y'],
      dtype='object')

In [37]:
df_BLUE_RED.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 35320 entries, 0 to 35319
Data columns (total 27 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   game_id                35320 non-null  object
 1   gold_15_x              35320 non-null  float64
 2   kills_assists_15_x     35320 non-null  float64
 3   deaths_15_x            35320 non-null  float64
 4   total_gold_x           35320 non-null  int64
 5   total_cs_x             35320 non-null  int64
 6   total_kills_x          35320 non-null  int64
 7   total_monster_kills_x  35320 non-null  int64
 8   total_assists_x        35320 non-null  int64
 9   total_deaths_x         35320 non-null  int64
 10  total_damage_taken_x   35320 non-null  int64
 11  total_damage_dealt_x   35320 non-null  int64
 12  win_x                  35320 non-null  int64
 13  name_with_role_x       35320 non-null  object
 14  gold_15_y              35320 non-null  float64
 15  kills_assists_15_y     35320 non-null  float64
 16  deaths_15_y            35320 non-null  float64
 17  total_gold_y           35320 non-null  int64
 18  total_cs_y             35320 non-null  int64
 19  total_kills_y          35320 non-null  int64
 20  total_monster_kills_y  35320 non-null  int64
 21  total_assists_y        35320 non-null  int64
 22  total_deaths_y         35320 non-null  int64
 23  total_damage_taken_y   35320 non-null  int64
 24  total_damage_dealt_y   35320 non-null  int64
 25  win_y                  35320 non-null  int64
 26  name_with_role_y       35320 non-null  object
dtypes: float64(6), int64(18), object(3)
memory usage: 7.5+ MB

In [38]:
df_BLUE_RED.drop(['game_id', 'win_y'], axis=1, inplace=True)

In [39]:
df_BLUE_RED.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 35320 entries, 0 to 35319
Data columns (total 25 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   gold_15_x              35320 non-null  float64
 1   kills_assists_15_x     35320 non-null  float64
 2   deaths_15_x            35320 non-null  float64
 3   total_gold_x           35320 non-null  int64
 4   total_cs_x             35320 non-null  int64
 5   total_kills_x          35320 non-null  int64
 6   total_monster_kills_x  35320 non-null  int64
 7   total_assists_x        35320 non-null  int64
 8   total_deaths_x         35320 non-null  int64
 9   total_damage_taken_x   35320 non-null  int64
 10  total_damage_dealt_x   35320 non-null  int64
 11  win_x                  35320 non-null  int64
 12  name_with_role_x       35320 non-null  object
 13  gold_15_y              35320 non-null  float64
 14  kills_assists_15_y     35320 non-null  float64
 15  deaths_15_y            35320 non-null  float64
 16  total_gold_y           35320 non-null  int64
 17  total_cs_y             35320 non-null  int64
 18  total_kills_y          35320 non-null  int64
 19  total_monster_kills_y  35320 non-null  int64
 20  total_assists_y        35320 non-null  int64
 21  total_deaths_y         35320 non-null  int64
 22  total_damage_taken_y   35320 non-null  int64
 23  total_damage_dealt_y   35320 non-null  int64
 24  name_with_role_y       35320 non-null  object
dtypes: float64(6), int64(17), object(2)
memory usage: 7.0+ MB

from sklearn.preprocessing import OneHotEncoder

ohe = OneHotEncoder(sparse = False, handle_unknown='ignore')
ohe.fit(df_BLUE_RED[['role_x']])
blue_role_encoded = ohe.transform(df_BLUE_RED[['role_x']])
red_role_encoded = ohe.transform(df_BLUE_RED[['role_y']])
ohe.categories_

df_BLUE_RED['Blue_BOT'], df_BLUE_RED['Blue_JGL'], df_BLUE_RED['Blue_MID'], df_BLUE_RED['Blue_SUP'], df_BLUE_RED['Blue_TOP'] = blue_role_encoded.T
df_BLUE_RED.drop('role_x', axis=1, inplace=True)
df_BLUE_RED.sample(5)

df_BLUE_RED['Red_BOT'], df_BLUE_RED['Red_JGL'], df_BLUE_RED['Red_MID'], df_BLUE_RED['Red_SUP'], df_BLUE_RED['Red_TOP'] = red_role_encoded.T
df_BLUE_RED.drop('role_y', axis=1, inplace=True)
df_BLUE_RED.sample(5)

ohe_champ = OneHotEncoder(sparse = False, handle_unknown='ignore')
ohe_champ.fit(df_BLUE_RED[['champion_name_x']])
blue_champ_role_encoded = ohe_champ.transform(df_BLUE_RED[['champion_name_x']])
red_champ_role_encoded = ohe_champ.transform(df_BLUE_RED[['champion_name_y']])
ohe_champ.categories_

df_BLUE_RED['Blue_BOT'], df_BLUE_RED['Blue_JGL'], df_BLUE_RED['Blue_MID'], df_BLUE_RED['Blue_SUP'], df_BLUE_RED['Blue_TOP'] = blue_role_encoded.T
df_BLUE_RED.drop('role_x', axis=1, inplace=True)
df_BLUE_RED.sample(5)

# Make a word to vect for the champions and roles

## Create a dictionary with all the role_champions 'words'

In [40]:
from itertools import chain

words_BLUE = list(chain.from_iterable([wv.split(' ') for wv in df_BLUE_RED.name_with_role_x]))
words_RED = list(chain.from_iterable([wv.split(' ') for wv in df_BLUE_RED.name_with_role_x]))
words = words_BLUE + words_RED
np.shape(words)

(376536,)

In [41]:
def create_unique_word_dict(text):
    
    # Getting all the unique words from our text and sorting them alphabetically
    words = list(set(text))
    #words.sort()

    # Creating the dictionary for the unique words
    unique_word_dict = {}
    for i, word in enumerate(words):
        unique_word_dict.update({
            word: i
        })

    return unique_word_dict

In [42]:
champions_role_dict = create_unique_word_dict(words)
champions_role_dict

{'JGLTwitch': 0,
 'MIDKarthus': 1,
 'MIDIvern': 2,
 'Yi': 3,
 'BOTZoe': 4,
 'TOPXayah': 5,
 'SUPRammus': 6,
 'TOPLillia': 7,
 'BOTBlitzcrank': 8,
 "JGLCho'Gath": 9,
 'BOTZilean': 10,
 'JGLEvelynn': 11,
 'BOTGraves': 12,
 'JGLNasus': 13,
 'JGLLucian': 14,
 'TOPOrnn': 15,
 'MIDDraven': 16,
 'TOPMalzahar': 17,
 'BOTIvern': 18,
 'JGLLee': 19,
 "BOTCho'Gath": 20,
 "MIDVel'Koz": 21,
 'TOPNeeko': 22,
 'BOTIrelia': 23,
 'BOTNeeko': 24,
 'MIDKalista': 25,
 'SUPAlistar': 26,
 'TOPGangplank': 27,
 'BOTSamira': 28,
 'BOTWukong': 29,
 'BOTAhri': 30,
 'SUPTeemo': 31,
 'TOPZed': 32,
 'BOTLee': 33,
 'BOTYone': 34,
 'TOPSion': 35,
 'MIDSwain': 36,
 'SUPPoppy': 37,
 'MIDViego': 38,
 'MIDVayne': 39,
 "SUPVel'Koz": 40,
 'TOPMiss': 41,
 'Fate': 42,
 'BOTSeraphine': 43,
 'JGLRakan': 44,
 'MIDNocturne': 45,
 'MIDGragas': 46,
 'JGLAlistar': 47,
 'BOTTwisted': 48,
 'SUPRiven': 49,
 'SUPSion': 50,
 'SUPSwain': 51,
 'SUPNami': 52,
 'MIDGangplank': 53,
 'BOTRumble': 54,
 'SUPMalzahar': 55,
 'SUPNunu': 56,
 'BOTCassiopeia': 57,
 'SUPVladimir': 58,
 "BOTKha'Zix": 59,
 'JGLMordekaiser': 60,
 'SUPKalista': 61,
 'TOPMordekaiser': 62,
 'BOTXayah': 63,
 'MIDLillia': 64,
 'TOPPantheon': 65,
 'BOTSinged': 66,
 'MIDGalio': 67,
 'TOPElise': 68,
 'MIDCaitlyn': 69,
 'MIDMaokai': 70,
 'BOTGalio': 71,
 'TOPThresh': 72,
 'MIDGnar': 73,
 'MIDVeigar': 74,
 'BOTZiggs': 75,
 'JGLAmumu': 76,
 'JGLSylas': 77,
 'TOPJanna': 78,
 'MIDDarius': 79,
 'JGLMalzahar': 80,
 'MIDLissandra': 81,
 'MIDTristana': 82,
 'SUPWukong': 83,
 'BOTUrgot': 84,
 'JGLLissandra': 85,
 'JGLWukong': 86,
 'BOTAzir': 87,
 'TOPLissandra': 88,
 'SUPUrgot': 89,
 'MIDAhri': 90,
 'SUPHeimerdinger': 91,
 'MIDCassiopeia': 92,
 'JGLSejuani': 93,
 'TOPSona': 94,
 'BOTMaster': 95,
 'JGLSivir': 96,
 'MIDTaric': 97,
 'BOTSenna': 98,
 'MIDSejuani': 99,
 'MIDAkali': 100,
 "TOPKha'Zix": 101,
 'MIDAurelion': 102,
 'TOPSyndra': 103,
 'MIDRengar': 104,
 'Fortune': 105,
 'SUPSoraka': 106,
 'TOPMorgana': 107,
 'BOTYasuo': 108,
 'SUPLux': 109,
 'TOPKayle': 110,
 'TOPCassiopeia': 111,
 'BOTVayne': 112,
 'JGLPoppy': 113,
 'TOPJayce': 114,
 'SUPMalphite': 115,
 'BOTSoraka': 116,
 'TOPSejuani': 117,
 'TOPMaokai': 118,
 "SUPCho'Gath": 119,
 'SUPFiddlesticks': 120,
 'TOPGragas': 121,
 'BOTKalista': 122,
 'JGLRengar': 123,
 'BOTLeBlanc': 124,
 'MIDViktor': 125,
 'TOPCorki': 126,
 'BOTOlaf': 127,
 'BOTCamille': 128,
 'JGLMaokai': 129,
 'BOTTaliyah': 130,
 'SUPThresh': 131,
 'BOTEzreal': 132,
 'JGLSyndra': 133,
 'SUPPyke': 134,
 'SUPSona': 135,
 'JGLShaco': 136,
 'TOPFiddlesticks': 137,
 'TOPNocturne': 138,
 'BOTKarma': 139,
 'JGLUdyr': 140,
 'BOTSona': 141,
 'JGLOrianna': 142,
 'MIDIllaoi': 143,
 'JGLViego': 144,
 'TOPTrundle': 145,
 'MIDDr.': 146,
 'SUPAnnie': 147,
 'JGLDraven': 148,
 'TOPTristana': 149,
 'TOPQiyana': 150,
 'SUPEzreal': 151,
 'SUPOrianna': 152,
 'MIDNeeko': 153,
 'MIDSion': 154,
 'SUPSylas': 155,
 'TOPSoraka': 156,
 'SUPZyra': 157,
 'MIDCamille': 158,
 'BOTNidalee': 159,
 'SUPGragas': 160,
 'SUPSejuani': 161,
 'MIDGraves': 162,
 'Mundo': 163,
 'TOPVayne': 164,
 'BOTYorick': 165,
 'SUPCaitlyn': 166,
 'TOPNunu': 167,
 'JGLTaliyah': 168,
 'MIDNidalee': 169,
 "JGLKai'Sa": 170,
 'JGLGaren': 171,
 'JGLYasuo': 172,
 'BOTLulu': 173,
 'SUPRakan': 174,
 'IV': 175,
 'TOPTaliyah': 176,
 'JGLXin': 177,
 'MIDOlaf': 178,
 'BOTAkali': 179,
 'JGLGnar': 180,
 'TOPQuinn': 181,
 'BOTLux': 182,
 'TOPSenna': 183,
 'MIDLux': 184,
 'SUPYuumi': 185,
 'JGLCorki': 186,
 'JGLTahm': 187,
 'MIDZilean': 188,
 'MIDTwitch': 189,
 'SUPMordekaiser': 190,
 'JGLSwain': 191,
 'JGLKarma': 192,
 'SUPKled': 193,
 'JGLRyze': 194,
 'SUPUdyr': 195,
 'MIDEzreal': 196,
 'BOTGangplank': 197,
 'BOTLissandra': 198,
 'BOTBraum': 199,
 'MIDTaliyah': 200,
 'BOTMiss': 201,
 'SUPRumble': 202,
 'JGLGalio': 203,
 'SUPLulu': 204,
 "MIDKha'Zix": 205,
 'JGLMorgana': 206,
 'JGLRiven': 207,
 'BOTQuinn': 208,
 'BOTAatrox': 209,
 'TOPShen': 210,
 'JGLEkko': 211,
 'BOTEkko': 212,
 'TOPShyvana': 213,
 'BOTRakan': 214,
 'SUPZac': 215,
 'TOPUrgot': 216,
 'TOPTeemo': 217,
 'MIDFiora': 218,
 'SUPTrundle': 219,
 'TOPAatrox': 220,
 'MIDXayah': 221,
 'TOPHecarim': 222,
 'JGLBrand': 223,
 'TOPRengar': 224,
 'MIDTwisted': 225,
 "JGLKha'Zix": 226,
 "BOTVel'Koz": 227,
 'SUPTaliyah': 228,
 'BOTDarius': 229,
 'MIDTalon': 230,
 'SUPKarthus': 231,
 'TOPCamille': 232,
 'MIDRenekton': 233,
 'BOTYuumi': 234,
 'SUPSenna': 235,
 'BOTKassadin': 236,
 'MIDLulu': 237,
 'SUPSeraphine': 238,
 'BOTNami': 239,
 'MIDKatarina': 240,
 'TOPNautilus': 241,
 'JGLDarius': 242,
 'TOPGnar': 243,
 'BOTMaokai': 244,
 'TOPTahm': 245,
 'SUPElise': 246,
 'BOTThresh': 247,
 'SUPSinged': 248,
 'TOPTaric': 249,
 'JGLWarwick': 250,
 'MIDSeraphine': 251,
 'BOTXerath': 252,
 'TOPEzreal': 253,
 'TOPWukong': 254,
 'TOPSinged': 255,
 'MIDMalphite': 256,
 'SUPMaokai': 257,
 'JGLPyke': 258,
 'MIDSona': 259,
 'MIDYasuo': 260,
 'MIDEkko': 261,
 'BOTShen': 262,
 'TOPIrelia': 263,
 'TOPKalista': 264,
 'JGLThresh': 265,
 'BOTGaren': 266,
 'SUPKarma': 267,
 'BOTAshe': 268,
 'SUPBraum': 269,
 'JGLLeBlanc': 270,
 "SUPRek'Sai": 271,
 'SUPZed': 272,
 'MIDSoraka': 273,
 'TOPGaren': 274,
 'MIDSyndra': 275,
 'JGLNidalee': 276,
 'MIDMalzahar': 277,
 'BOTDr.': 278,
 'SUPZoe': 279,
 'BOTRenekton': 280,
 'MIDFizz': 281,
 'JGLBard': 282,
 'JGLEzreal': 283,
 'MIDThresh': 284,
 'JGLJanna': 285,
 "MIDKog'Maw": 286,
 'JGLSion': 287,
 'SUPBard': 288,
 'MIDZyra': 289,
 'SUPJanna': 290,
 'BOTPoppy': 291,
 'BOTAphelios': 292,
 'TOPKled': 293,
 'JGLZac': 294,
 'MIDOrianna': 295,
 'BOTAlistar': 296,
 'TOPIvern': 297,
 'SUPWarwick': 298,
 "TOPCho'Gath": 299,
 'SUPSett': 300,
 'TOPSett': 301,
 'MIDKindred': 302,
 'JGLAatrox': 303,
 'MIDUrgot': 304,
 'JGLJarvan': 305,
 'TOPAzir': 306,
 'JGLIrelia': 307,
 'BOTSwain': 308,
 'MIDHeimerdinger': 309,
 'JGLKindred': 310,
 'JGLOlaf': 311,
 'BOTTaric': 312,
 'TOPHeimerdinger': 313,
 'MIDAzir': 314,
 'JGLCassiopeia': 315,
 'TOPAlistar': 316,
 'BOTLucian': 317,
 'TOPKayn': 318,
 'TOPWarwick': 319,
 'MIDRammus': 320,
 'JGLLillia': 321,
 'MIDTeemo': 322,
 'SUPLeona': 323,
 'BOTOrianna': 324,
 'MIDSylas': 325,
 'Zhao': 326,
 'BOTPyke': 327,
 'SUPRenekton': 328,
 'JGLOrnn': 329,
 'TOPMaster': 330,
 'JGLNunu': 331,
 'JGLCaitlyn': 332,
 'TOPVladimir': 333,
 'BOTViktor': 334,
 'BOTMordekaiser': 335,
 "JGLRek'Sai": 336,
 'JGLElise': 337,
 'BOTSyndra': 338,
 'MIDBard': 339,
 'TOPFizz': 340,
 'TOPAkali': 341,
 'SUPMiss': 342,
 'Kench': 343,
 'TOPJax': 344,
 'MIDPantheon': 345,
 'SUPXayah': 346,
 'SUPShaco': 347,
 '&': 348,
 'TOPXin': 349,
 'SUPLissandra': 350,
 'JGLVayne': 351,
 'JGLIvern': 352,
 'JGLKayn': 353,
 'JGLTrundle': 354,
 'JGLQuinn': 355,
 'TOPLeBlanc': 356,
 'JGLKarthus': 357,
 'JGLSett': 358,
 'JGLVi': 359,
 'BOTVarus': 360,
 'MIDNunu': 361,
 'TOPAnnie': 362,
 'TOPPoppy': 363,
 'MIDDiana': 364,
 'SUPTahm': 365,
 'BOTZed': 366,
 'BOTTahm': 367,
 'MIDSett': 368,
 'MIDZed': 369,
 'BOTNautilus': 370,
 'SUPOrnn': 371,
 'BOTAurelion': 372,
 'BOTJanna': 373,
 'BOTSivir': 374,
 'MIDVolibear': 375,
 'MIDLee': 376,
 'MIDKled': 377,
 'JGLXayah': 378,
 'SUPCassiopeia': 379,
 'BOTKennen': 380,
 'SUPKayle': 381,
 'MIDKayn': 382,
 'SUPIrelia': 383,
 'SUPGalio': 384,
 'TOPAurelion': 385,
 'TOPRyze': 386,
 'TOPOrianna': 387,
 'MIDHecarim': 388,
 'JGLSeraphine': 389,
 'JGLLulu': 390,
 'TOPRenekton': 391,
 'TOPZilean': 392,
 "BOTKog'Maw": 393,
 'SUPXerath': 394,
 'MIDYone': 395,
 'BOTJhin': 396,
 'MIDGaren': 397,
 'SUPKennen': 398,
 "BOTKai'Sa": 399,
 'JGLVolibear': 400,
 'MIDWukong': 401,
 'SUPAmumu': 402,
 'BOTDraven': 403,
 'TOPGalio': 404,
 'SUPGaren': 405,
 'MIDBrand': 406,
 'BOTHeimerdinger': 407,
 'SUPPantheon': 408,
 'SUPVolibear': 409,
 'TOPRammus': 410,
 'TOPKassadin': 411,
 'Sin': 412,
 'MIDKayle': 413,
 'JGLUrgot': 414,
 'BOTTristana': 415,
 'SUPShen': 416,
 'TOPEkko': 417,
 'BOTVladimir': 418,
 'SUPGraves': 419,
 "MIDCho'Gath": 420,
 'TOPMalphite': 421,
 'MIDTryndamere': 422,
 'MIDFiddlesticks': 423,
 "SUPKai'Sa": 424,
 'TOPIllaoi': 425,
 'SUPNocturne': 426,
 'JGLDiana': 427,
 'JGLRammus': 428,
 'MIDLucian': 429,
 'TOPTalon': 430,
 'MIDMorgana': 431,
 'BOTKled': 432,
 'BOTSett': 433,
 'TOPViktor': 434,
 'BOTMorgana': 435,
 'JGLKayle': 436,
 'JGLYorick': 437,
 'TOPBard': 438,
 'SUPJarvan': 439,
 'MIDZiggs': 440,
 'SUPTaric': 441,
 'TOPFiora': 442,
 'MIDLeona': 443,
 'JGLPantheon': 444,
 'JGLKled': 445,
 'TOPAphelios': 446,
 'TOPZac': 447,
 'MIDSenna': 448,
 'SUPAshe': 449,
 'TOPDarius': 450,
 'MIDJayce': 451,
 'JGLJayce': 452,
 'SUPGnar': 453,
 'BOTGnar': 454,
 'BOTMalzahar': 455,
 'MIDNautilus': 456,
 'BOTCorki': 457,
 'SUPZilean': 458,
 'TOPTryndamere': 459,
 'TOPLucian': 460,
 'SUPBlitzcrank': 461,
 'SUPSivir': 462,
 'SUPRell': 463,
 'TOPNidalee': 464,
 'SUPGangplank': 465,
 'MIDAnnie': 466,
 'BOTBrand': 467,
 'SUPMorgana': 468,
 'JGLLeona': 469,
 'SUPCamille': 470,
 'TOPYasuo': 471,
 'MIDAphelios': 472,
 'JGLTaric': 473,
 'MIDMordekaiser': 474,
 'TOPYorick': 475,
 'JGLDr.': 476,
 'BOTOrnn': 477,
 'SUPNeeko': 478,
 'BOTTwitch': 479,
 'MIDAnivia': 480,
 'JGLNocturne': 481,
 'JGLCamille': 482,
 'MIDSivir': 483,
 'MIDJax': 484,
 'MIDRyze': 485,
 'SUPAnivia': 486,
 'JGLSkarner': 487,
 'MIDKennen': 488,
 'MIDJarvan': 489,
 'TOPSwain': 490,
 'BOTKarthus': 491,
 'Willump': 492,
 'MIDVladimir': 493,
 'JGLJax': 494,
 'BOTSejuani': 495,
 'TOPRumble': 496,
 'MIDAatrox': 497,
 'SUPBrand': 498,
 'TOPJarvan': 499,
 'TOPAmumu': 500,
 'BOTBard': 501,
 'TOPPyke': 502,
 'SUPVarus': 503,
 'TOPNasus': 504,
 'JGLMaster': 505,
 'JGLFiddlesticks': 506,
 'BOTCaitlyn': 507,
 'Sol': 508,
 'JGLVeigar': 509,
 'MIDBraum': 510,
 'JGLGragas': 511,
 'JGLBlitzcrank': 512,
 'BOTVeigar': 513,
 'MIDVarus': 514,
 'SUPLee': 515,
 'JGLRumble': 516,
 'TOPKarma': 517,
 'MIDKarma': 518,
 'JGLQiyana': 519,
 'MIDNasus': 520,
 'TOPKennen': 521,
 'MIDOrnn': 522,
 'SUPNautilus': 523,
 'SUPVeigar': 524,
 'JGLGraves': 525,
 'MIDPoppy': 526,
 'TOPRiven': 527,
 'SUPZiggs': 528,
 'BOTVolibear': 529,
 'JGLNeeko': 530,
 'MIDPyke': 531,
 'MIDZac': 532,
 'MIDSamira': 533,
 'JGLNautilus': 534,
 'SUPNidalee': 535,
 'MIDZoe': 536,
 'JGLBraum': 537,
 'JGLTeemo': 538,
 'TOPKarthus': 539,
 'MIDMaster': 540,
 'BOTSion': 541,
 'BOTNasus': 542,
 'MIDJhin': 543,
 'MIDQuinn': 544,
 'SUPYasuo': 545,
 'TOPGraves': 546,
 'TOPSkarner': 547,
 'TOPLee': 548,
 'BOTKindred': 549,
 'TOPLulu': 550,
 'TOPTwisted': 551,
 'MIDRakan': 552,
 'MIDAlistar': 553,
 'BOTJayce': 554,
 'BOTPantheon': 555,
 'JGLShen': 556,
 'SUPAatrox': 557,
 'TOPYone': 558,
 'BOTRyze': 559,
 'TOPUdyr': 560,
 'TOPOlaf': 561,
 'MIDShen': 562,
 'TOPSylas': 563,
 'MIDIrelia': 564,
 'MIDRumble': 565,
 'BOTGragas': 566,
 'BOTNunu': 567,
 'MIDQiyana': 568,
 'BOTJinx': 569,
 "MIDKai'Sa": 570,
 'MIDLeBlanc': 571,
 'JGLHeimerdinger': 572,
 'JGLHecarim': 573,
 'TOPDr.': 574,
 'MIDRiven': 575,
 'TOPVolibear': 576,
 'JGLShyvana': 577,
 'MIDKassadin': 578,
 'MIDXerath': 579,
 'MIDCorki': 580,
 'TOPDraven': 581,
 'JGLMalphite': 582,
 'SUPSyndra': 583}

In [43]:
banana = df_BLUE_RED.name_with_role_x[0].split(' ')
banana[0]
#def replace_words_dict(df, dictionary):

'TOPTrundle'

df_BLUE_RED.name_with_role_x.apply()

TOPTrundle JGLGraves MIDLissandra BOTLucian = ()

# ML model

In [44]:
from sklearn.feature_extraction.text import CountVectorizer

vectorizer = CountVectorizer()
X = vectorizer.fit_transform(df_BLUE_RED.name_with_role_x)
pd.DataFrame(X.toarray(), columns=vectorizer.get_feature_names_out())

,botaatrox,botahri,botakali,botalistar,botaphelios,botashe,botaurelion,botazir,botbard,botblitzcrank,...,topyasuo,topyone,topyorick,topzac,topzed,topzilean,willump,yi,zhao,zix
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35315,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
35316,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
35317,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
35318,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
35319,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [45]:
vectorizer.get_feature_names_out()

array(['botaatrox', 'botahri', 'botakali', 'botalistar', 'botaphelios',
       'botashe', 'botaurelion', 'botazir', 'botbard', 'botblitzcrank',
       'botbrand', 'botbraum', 'botcaitlyn', 'botcamille',
       'botcassiopeia', 'botcho', 'botcorki', 'botdarius', 'botdr',
       'botdraven', 'botekko', 'botezreal', 'botgalio', 'botgangplank',
       'botgaren', 'botgnar', 'botgragas', 'botgraves', 'botheimerdinger',
       'botirelia', 'botivern', 'botjanna', 'botjayce', 'botjhin',
       'botjinx', 'botkai', 'botkalista', 'botkarma', 'botkarthus',
       'botkassadin', 'botkennen', 'botkha', 'botkindred', 'botkled',
       'botkog', 'botleblanc', 'botlee', 'botlissandra', 'botlucian',
       'botlulu', 'botlux', 'botmalzahar', 'botmaokai', 'botmaster',
       'botmiss', 'botmordekaiser', 'botmorgana', 'botnami', 'botnasus',
       'botnautilus', 'botneeko', 'botnidalee', 'botnunu', 'botolaf',
       'botorianna', 'botornn', 'botpantheon', 'botpoppy', 'botpyke',
       'botquinn', 'botrakan', 'botrenekton', 'botrumble', 'botryze',
       'botsamira', 'botsejuani', 'botsenna', 'botseraphine', 'botsett',
       'botshen', 'botsinged', 'botsion', 'botsivir', 'botsona',
       'botsoraka', 'botswain', 'botsyndra', 'bottahm', 'bottaliyah',
       'bottaric', 'botthresh', 'bottristana', 'bottwisted', 'bottwitch',
       'boturgot', 'botvarus', 'botvayne', 'botveigar', 'botvel',
       'botviktor', 'botvladimir', 'botvolibear', 'botwukong', 'botxayah',
       'botxerath', 'botyasuo', 'botyone', 'botyorick', 'botyuumi',
       'botzed', 'botziggs', 'botzilean', 'botzoe', 'fate', 'fortune',
       'gath', 'iv', 'jglaatrox', 'jglalistar', 'jglamumu', 'jglbard',
       'jglblitzcrank', 'jglbrand', 'jglbraum', 'jglcaitlyn',
       'jglcamille', 'jglcassiopeia', 'jglcho', 'jglcorki', 'jgldarius',
       'jgldiana', 'jgldr', 'jgldraven', 'jglekko', 'jglelise',
       'jglevelynn', 'jglezreal', 'jglfiddlesticks', 'jglgalio',
       'jglgaren', 'jglgnar', 'jglgragas', 'jglgraves', 'jglhecarim',
       'jglheimerdinger', 'jglirelia', 'jglivern', 'jgljanna',
       'jgljarvan', 'jgljax', 'jgljayce', 'jglkai', 'jglkarma',
       'jglkarthus', 'jglkayle', 'jglkayn', 'jglkha', 'jglkindred',
       'jglkled', 'jglleblanc', 'jgllee', 'jglleona', 'jgllillia',
       'jgllissandra', 'jgllucian', 'jgllulu', 'jglmalphite',
       'jglmalzahar', 'jglmaokai', 'jglmaster', 'jglmordekaiser',
       'jglmorgana', 'jglnasus', 'jglnautilus', 'jglneeko', 'jglnidalee',
       'jglnocturne', 'jglnunu', 'jglolaf', 'jglorianna', 'jglornn',
       'jglpantheon', 'jglpoppy', 'jglpyke', 'jglqiyana', 'jglquinn',
       'jglrakan', 'jglrammus', 'jglrek', 'jglrengar', 'jglriven',
       'jglrumble', 'jglryze', 'jglsejuani', 'jglseraphine', 'jglsett',
       'jglshaco', 'jglshen', 'jglshyvana', 'jglsion', 'jglsivir',
       'jglskarner', 'jglswain', 'jglsylas', 'jglsyndra', 'jgltahm',
       'jgltaliyah', 'jgltaric', 'jglteemo', 'jglthresh', 'jgltrundle',
       'jgltwitch', 'jgludyr', 'jglurgot', 'jglvayne', 'jglveigar',
       'jglvi', 'jglviego', 'jglvolibear', 'jglwarwick', 'jglwukong',
       'jglxayah', 'jglxin', 'jglyasuo', 'jglyorick', 'jglzac', 'kench',
       'koz', 'maw', 'midaatrox', 'midahri', 'midakali', 'midalistar',
       'midanivia', 'midannie', 'midaphelios', 'midaurelion', 'midazir',
       'midbard', 'midbrand', 'midbraum', 'midcaitlyn', 'midcamille',
       'midcassiopeia', 'midcho', 'midcorki', 'middarius', 'middiana',
       'middr', 'middraven', 'midekko', 'midezreal', 'midfiddlesticks',
       'midfiora', 'midfizz', 'midgalio', 'midgangplank', 'midgaren',
       'midgnar', 'midgragas', 'midgraves', 'midhecarim',
       'midheimerdinger', 'midillaoi', 'midirelia', 'midivern',
       'midjarvan', 'midjax', 'midjayce', 'midjhin', 'midkai',
       'midkalista', 'midkarma', 'midkarthus', 'midkassadin',
       'midkatarina', 'midkayle', 'midkayn', 'midkennen', 'midkha',
       'midkindred', 'midkled', 'midkog', 'midleblanc', 'midlee',
       'midleona', 'midlillia', 'midlissandra', 'midlucian', 'midlulu',
       'midlux', 'midmalphite', 'midmalzahar', 'midmaokai', 'midmaster',
       'midmordekaiser', 'midmorgana', 'midnasus', 'midnautilus',
       'midneeko', 'midnidalee', 'midnocturne', 'midnunu', 'midolaf',
       'midorianna', 'midornn', 'midpantheon', 'midpoppy', 'midpyke',
       'midqiyana', 'midquinn', 'midrakan', 'midrammus', 'midrenekton',
       'midrengar', 'midriven', 'midrumble', 'midryze', 'midsamira',
       'midsejuani', 'midsenna', 'midseraphine', 'midsett', 'midshen',
       'midsion', 'midsivir', 'midsona', 'midsoraka', 'midswain',
       'midsylas', 'midsyndra', 'midtaliyah', 'midtalon', 'midtaric',
       'midteemo', 'midthresh', 'midtristana', 'midtryndamere',
       'midtwisted', 'midtwitch', 'midurgot', 'midvarus', 'midvayne',
       'midveigar', 'midvel', 'midviego', 'midviktor', 'midvladimir',
       'midvolibear', 'midwukong', 'midxayah', 'midxerath', 'midyasuo',
       'midyone', 'midzac', 'midzed', 'midziggs', 'midzilean', 'midzoe',
       'midzyra', 'mundo', 'sa', 'sai', 'sin', 'sol', 'supaatrox',
       'supalistar', 'supamumu', 'supanivia', 'supannie', 'supashe',
       'supbard', 'supblitzcrank', 'supbrand', 'supbraum', 'supcaitlyn',
       'supcamille', 'supcassiopeia', 'supcho', 'supelise', 'supezreal',
       'supfiddlesticks', 'supgalio', 'supgangplank', 'supgaren',
       'supgnar', 'supgragas', 'supgraves', 'supheimerdinger',
       'supirelia', 'supjanna', 'supjarvan', 'supkai', 'supkalista',
       'supkarma', 'supkarthus', 'supkayle', 'supkennen', 'supkled',
       'suplee', 'supleona', 'suplissandra', 'suplulu', 'suplux',
       'supmalphite', 'supmalzahar', 'supmaokai', 'supmiss',
       'supmordekaiser', 'supmorgana', 'supnami', 'supnautilus',
       'supneeko', 'supnidalee', 'supnocturne', 'supnunu', 'suporianna',
       'supornn', 'suppantheon', 'suppoppy', 'suppyke', 'suprakan',
       'suprammus', 'suprek', 'suprell', 'suprenekton', 'supriven',
       'suprumble', 'supsejuani', 'supsenna', 'supseraphine', 'supsett',
       'supshaco', 'supshen', 'supsinged', 'supsion', 'supsivir',
       'supsona', 'supsoraka', 'supswain', 'supsylas', 'supsyndra',
       'suptahm', 'suptaliyah', 'suptaric', 'supteemo', 'supthresh',
       'suptrundle', 'supudyr', 'supurgot', 'supvarus', 'supveigar',
       'supvel', 'supvladimir', 'supvolibear', 'supwarwick', 'supwukong',
       'supxayah', 'supxerath', 'supyasuo', 'supyuumi', 'supzac',
       'supzed', 'supziggs', 'supzilean', 'supzoe', 'supzyra',
       'topaatrox', 'topakali', 'topalistar', 'topamumu', 'topannie',
       'topaphelios', 'topaurelion', 'topazir', 'topbard', 'topcamille',
       'topcassiopeia', 'topcho', 'topcorki', 'topdarius', 'topdr',
       'topdraven', 'topekko', 'topelise', 'topezreal', 'topfiddlesticks',
       'topfiora', 'topfizz', 'topgalio', 'topgangplank', 'topgaren',
       'topgnar', 'topgragas', 'topgraves', 'tophecarim',
       'topheimerdinger', 'topillaoi', 'topirelia', 'topivern',
       'topjanna', 'topjarvan', 'topjax', 'topjayce', 'topkalista',
       'topkarma', 'topkarthus', 'topkassadin', 'topkayle', 'topkayn',
       'topkennen', 'topkha', 'topkled', 'topleblanc', 'toplee',
       'toplillia', 'toplissandra', 'toplucian', 'toplulu', 'topmalphite',
       'topmalzahar', 'topmaokai', 'topmaster', 'topmiss',
       'topmordekaiser', 'topmorgana', 'topnasus', 'topnautilus',
       'topneeko', 'topnidalee', 'topnocturne', 'topnunu', 'topolaf',
       'toporianna', 'topornn', 'toppantheon', 'toppoppy', 'toppyke',
       'topqiyana', 'topquinn', 'toprammus', 'toprenekton', 'toprengar',
       'topriven', 'toprumble', 'topryze', 'topsejuani', 'topsenna',
       'topsett', 'topshen', 'topshyvana', 'topsinged', 'topsion',
       'topskarner', 'topsona', 'topsoraka', 'topswain', 'topsylas',
       'topsyndra', 'toptahm', 'toptaliyah', 'toptalon', 'toptaric',
       'topteemo', 'topthresh', 'toptristana', 'toptrundle',
       'toptryndamere', 'toptwisted', 'topudyr', 'topurgot', 'topvayne',
       'topviktor', 'topvladimir', 'topvolibear', 'topwarwick',
       'topwukong', 'topxayah', 'topxin', 'topyasuo', 'topyone',
       'topyorick', 'topzac', 'topzed', 'topzilean', 'willump', 'yi',
       'zhao', 'zix'], dtype=object)

import sklearn
sklearn.__version__

!pip install scikit-learn==1.0.2

## Logit pipe w/MinMax Scaler, SimpleImputer, OneHot Encoder

In [46]:
from sklearn.preprocessing import MinMaxScaler
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder
from sklearn.pipeline import make_pipeline
from sklearn.linear_model import LogisticRegression
from sklearn.compose import make_column_transformer
from sklearn.compose import make_column_selector
from sklearn import set_config; set_config(display='diagram')

# Impute then Scale for numerical variables: 
num_transformer = make_pipeline(
                    SimpleImputer(strategy = 'mean'),
                    MinMaxScaler())

# Encode categorical variables
cat_transformer = OneHotEncoder(sparse = False, handle_unknown='ignore')
champion_transformer = CountVectorizer()

# Paralellize "num_transformer" and "One hot encoder"
preproc = make_column_transformer(
    (num_transformer, make_column_selector(dtype_include=['float64'])),
    #(cat_transformer, make_column_selector(dtype_include=['object','bool'])),
    (champion_transformer, 'name_with_role_x'),
    (champion_transformer, 'name_with_role_y'),
    remainder='passthrough')

#add model
pipe = make_pipeline(preproc, LogisticRegression(solver='liblinear'))
pipe

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('pipeline',
                                                  Pipeline(steps=[('simpleimputer',
                                                                   SimpleImputer()),
                                                                  ('minmaxscaler',
                                                                   MinMaxScaler())]),
                                                  <sklearn.compose._column_transformer.make_column_selector object at 0x7fafe80505b0>),
                                                 ('countvectorizer-1',
                                                  CountVectorizer(),
                                                  'name_with_role_x'),
                                                 ('countvectorizer-2',
                                                  CountVectorizer(),
                                                  'name_with_role_y')])),
                ('logisticregression', LogisticRegression(solver='liblinear'))])

In [47]:
df_BLUE_RED.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 35320 entries, 0 to 35319
Data columns (total 25 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   gold_15_x              35320 non-null  float64
 1   kills_assists_15_x     35320 non-null  float64
 2   deaths_15_x            35320 non-null  float64
 3   total_gold_x           35320 non-null  int64
 4   total_cs_x             35320 non-null  int64
 5   total_kills_x          35320 non-null  int64
 6   total_monster_kills_x  35320 non-null  int64
 7   total_assists_x        35320 non-null  int64
 8   total_deaths_x         35320 non-null  int64
 9   total_damage_taken_x   35320 non-null  int64
 10  total_damage_dealt_x   35320 non-null  int64
 11  win_x                  35320 non-null  int64
 12  name_with_role_x       35320 non-null  object
 13  gold_15_y              35320 non-null  float64
 14  kills_assists_15_y     35320 non-null  float64
 15  deaths_15_y            35320 non-null  float64
 16  total_gold_y           35320 non-null  int64
 17  total_cs_y             35320 non-null  int64
 18  total_kills_y          35320 non-null  int64
 19  total_monster_kills_y  35320 non-null  int64
 20  total_assists_y        35320 non-null  int64
 21  total_deaths_y         35320 non-null  int64
 22  total_damage_taken_y   35320 non-null  int64
 23  total_damage_dealt_y   35320 non-null  int64
 24  name_with_role_y       35320 non-null  object
dtypes: float64(6), int64(17), object(2)
memory usage: 8.0+ MB

In [48]:
from sklearn.preprocessing import LabelEncoder

y = LabelEncoder().fit(df_BLUE_RED.win_x).transform(df_BLUE_RED.win_x)
X_pre = df_BLUE_RED.drop('win_x', axis=1)#.groupby('game_id').sum()
X = X_pre

In [49]:
X.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 35320 entries, 0 to 35319
Data columns (total 24 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   gold_15_x              35320 non-null  float64
 1   kills_assists_15_x     35320 non-null  float64
 2   deaths_15_x            35320 non-null  float64
 3   total_gold_x           35320 non-null  int64
 4   total_cs_x             35320 non-null  int64
 5   total_kills_x          35320 non-null  int64
 6   total_monster_kills_x  35320 non-null  int64
 7   total_assists_x        35320 non-null  int64
 8   total_deaths_x         35320 non-null  int64
 9   total_damage_taken_x   35320 non-null  int64
 10  total_damage_dealt_x   35320 non-null  int64
 11  name_with_role_x       35320 non-null  object
 12  gold_15_y              35320 non-null  float64
 13  kills_assists_15_y     35320 non-null  float64
 14  deaths_15_y            35320 non-null  float64
 15  total_gold_y           35320 non-null  int64
 16  total_cs_y             35320 non-null  int64
 17  total_kills_y          35320 non-null  int64
 18  total_monster_kills_y  35320 non-null  int64
 19  total_assists_y        35320 non-null  int64
 20  total_deaths_y         35320 non-null  int64
 21  total_damage_taken_y   35320 non-null  int64
 22  total_damage_dealt_y   35320 non-null  int64
 23  name_with_role_y       35320 non-null  object
dtypes: float64(6), int64(16), object(2)
memory usage: 7.7+ MB

In [50]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

In [51]:
X_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 23664 entries, 20970 to 15795
Data columns (total 24 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   gold_15_x              23664 non-null  float64
 1   kills_assists_15_x     23664 non-null  float64
 2   deaths_15_x            23664 non-null  float64
 3   total_gold_x           23664 non-null  int64
 4   total_cs_x             23664 non-null  int64
 5   total_kills_x          23664 non-null  int64
 6   total_monster_kills_x  23664 non-null  int64
 7   total_assists_x        23664 non-null  int64
 8   total_deaths_x         23664 non-null  int64
 9   total_damage_taken_x   23664 non-null  int64
 10  total_damage_dealt_x   23664 non-null  int64
 11  name_with_role_x       23664 non-null  object
 12  gold_15_y              23664 non-null  float64
 13  kills_assists_15_y     23664 non-null  float64
 14  deaths_15_y            23664 non-null  float64
 15  total_gold_y           23664 non-null  int64
 16  total_cs_y             23664 non-null  int64
 17  total_kills_y          23664 non-null  int64
 18  total_monster_kills_y  23664 non-null  int64
 19  total_assists_y        23664 non-null  int64
 20  total_deaths_y         23664 non-null  int64
 21  total_damage_taken_y   23664 non-null  int64
 22  total_damage_dealt_y   23664 non-null  int64
 23  name_with_role_y       23664 non-null  object
dtypes: float64(6), int64(16), object(2)
memory usage: 4.5+ MB

In [52]:
np.shape(X_train), np.shape(y_train)

((23664, 24), (23664,))

In [53]:
pipe.steps[0][0]

'columntransformer'

In [54]:
# Train pipeline
pipe.fit(X_train,y_train)

# Score model
pipe.score(X_test,y_test)

0.9835277968428278

In [55]:
from sklearn.model_selection import cross_val_score

# Cross validate pipeline
cross_val_score(pipe, X_train, y_train, cv=10, scoring='accuracy').mean()

0.9808571007167087

In [56]:
# Check predictions
pipe.predict(X_test.iloc[0:5]), y_test[0:5]

(array([0, 0, 1, 0, 1]), array([0, 0, 1, 0, 1]))

In [57]:
from sklearn import metrics

predicted = pipe.predict(X_test)
print(metrics.accuracy_score(y_test, predicted))
print(metrics.classification_report(y_test, predicted))

0.9835277968428278
              precision    recall  f1-score   support

           0       0.98      0.98      0.98      5407
           1       0.98      0.99      0.98      6249

    accuracy                           0.98     11656
   macro avg       0.98      0.98      0.98     11656
weighted avg       0.98      0.98      0.98     11656

In [58]:
np.unique(predicted)

array([0, 1])

In [59]:
model = pipe[-1]

In [60]:
model.coef_

array([[-5.00182428e-09,  2.67984178e-08, -1.37063086e-08, ...,
         9.18886419e-07,  3.25022064e-05,  2.97880836e-06]])