# Import data

In [1]:
import numpy as np
import pandas as pd
import json

In [2]:
file = '../raw_data/full_dump.json'
with open(file) as data_file:    
    data = json.load(data_file) 
len(data)

35320

In [3]:
data_keys = list(data.keys())
data_keys[:5]

['EU Challenger Series/2017 Season/Spring Qualifiers/Scoreboards_1_1',
 'EU Challenger Series/2017 Season/Spring Qualifiers/Scoreboards_2_1',
 'EU Challenger Series/2017 Season/Spring Qualifiers/Scoreboards_3_1',
 'EU Challenger Series/2017 Season/Spring Qualifiers/Scoreboards_4_1',
 'EU Challenger Series/2017 Season/Spring Qualifiers/Scoreboards_5_1']

In [4]:
import re

pattern = r'(\d{4})'
re.search(pattern, data_keys[2]).group(1)

year = []
no_year = []
for i in range(len(data_keys)):
    try:
        year.append(re.search(pattern, data_keys[i]).group(1))
    except:
        no_year.append(data_keys[i])

np.unique(year), len(no_year)

(array(['2016', '2017', '2018', '2019', '2020', '2021'], dtype='<U4'), 1703)

# Normalize the JSON file

Normalize means to expand the nested keys in the JSON file and the subsequent DataFrame.

In [5]:
#Normalize the complete dataframe and make a copy
df_normalized_teams = pd.json_normalize(data.values())
df_teams = df_normalized_teams.copy()
df_teams.sample(5)

,id,start,patch,winner,duration,picks_bans,teams.BLUE.name,teams.BLUE.total_turret_kills,teams.BLUE.total_inhibitor_kills,teams.BLUE.total_rift_herald_kills,...,teams.BLUE.side,teams.BLUE.players,teams.RED.name,teams.RED.total_turret_kills,teams.RED.total_inhibitor_kills,teams.RED.total_rift_herald_kills,teams.RED.total_dragon_kills,teams.RED.total_baron_kills,teams.RED.side,teams.RED.players
14682,ESL Vodafone Championship/2019/Summer Season/S...,None,9.11,RED,1730,"[{'champion_name': '', 'is_ban': True}, {'cham...",Team Amelia,0,0,0,...,BLUE,"[{'name': None, 'id': None, 'role': 'TOP', 'ch...",VIS eSports,10,2,1,4,2,RED,"[{'name': 'Taurine', 'id': 341311, 'role': 'TO..."
5476,CIS Challenger League/2018 Season/Spring Seaso...,None,8.3,BLUE,2442,"[{'champion_name': 'Camille', 'is_ban': True},...",Comanche,11,2,0,...,BLUE,"[{'name': 'Resu', 'id': 310834, 'role': 'TOP',...",Aston eSports,3,0,1,1,0,RED,"[{'name': None, 'id': None, 'role': 'TOP', 'ch..."
24,EU Challenger Series/2017 Season/Spring Qualif...,None,6.24,RED,2144,[],Team Kinguin,3,0,0,...,BLUE,"[{'name': 'iBo', 'id': 167607, 'role': 'TOP', ...",Team Forge,11,3,0,3,1,RED,"[{'name': 'beansu', 'id': 191813, 'role': 'TOP..."
14656,Ultraliga/Season 2/Scoreboards/Week 3_3_1,None,9.13,BLUE,1963,"[{'champion_name': 'Skarner', 'is_ban': True},...",piratesports,10,3,1,...,BLUE,"[{'name': 'Kackos', 'id': 251033, 'role': 'TOP...",Wisła Płock eSports,2,0,0,0,0,RED,"[{'name': 'Unknown', 'id': 202415, 'role': 'TO..."
32025,Challengers Korea/2016 Season/Spring Season/Sc...,None,6.2,RED,2183,[],MVP,4,0,0,...,BLUE,"[{'name': 'ADD', 'id': 188467, 'role': 'TOP', ...",Dark Wolves,9,1,0,2,1,RED,"[{'name': 'Beast', 'id': 191839, 'role': 'TOP'..."

In [6]:
#Make a dataframe dedicated to the teams 
df_teams.drop(['teams.BLUE.players', 'teams.RED.players', 'picks_bans'], axis=1, inplace=True)
df_teams.head()

,id,start,patch,winner,duration,teams.BLUE.name,teams.BLUE.total_turret_kills,teams.BLUE.total_inhibitor_kills,teams.BLUE.total_rift_herald_kills,teams.BLUE.total_dragon_kills,teams.BLUE.total_baron_kills,teams.BLUE.side,teams.RED.name,teams.RED.total_turret_kills,teams.RED.total_inhibitor_kills,teams.RED.total_rift_herald_kills,teams.RED.total_dragon_kills,teams.RED.total_baron_kills,teams.RED.side
0,EU Challenger Series/2017 Season/Spring Qualif...,None,6.24,BLUE,2023,Fnatic Academy,11,3,0,2,1,BLUE,EURONICS Gaming,4,0,0,1,0,RED
1,EU Challenger Series/2017 Season/Spring Qualif...,None,6.24,RED,1782,AlienTech eSports,3,0,0,0,0,BLUE,Team Larssen,7,1,1,2,1,RED
2,EU Challenger Series/2017 Season/Spring Qualif...,None,6.24,RED,2465,Bobaski,4,0,0,0,0,BLUE,Nerv,9,1,0,3,1,RED
3,EU Challenger Series/2017 Season/Spring Qualif...,None,6.24,BLUE,1925,Team Forge,11,4,0,4,1,BLUE,Tricked Esport,0,0,0,0,1,RED
4,EU Challenger Series/2017 Season/Spring Qualif...,None,6.24,BLUE,1507,Team-LDLC,11,3,0,1,1,BLUE,ASUS ROG Army,1,0,0,0,0,RED

In [7]:
#Make a dataframe dedicated to the team BLUE
df_normalized_teams['teams.BLUE.players'].explode()
df_normalized_BLUE = pd.json_normalize(df_normalized_teams['teams.BLUE.players'].explode())
df_BLUE = df_normalized_BLUE.copy()
df_BLUE.sample(5)

,name,id,role,champion_name,champion_id,gold_15,kills_assists_15,deaths_15,total_gold,total_cs,total_kills,total_monster_kills,total_assists,total_deaths,total_damage_taken,total_damage_dealt,win,side
63368,Bang,191243.0,BOT,Xayah,498,5293.0,4.0,1.0,12956,314,2,24,2,1,11229,221029,False,BLUE
80929,Plasma,235242.0,SUP,Gragas,79,4673.0,7.0,0.0,7832,16,4,0,3,0,7803,24320,True,BLUE
173446,Carbon,193922.0,JGL,Nidalee,76,4777.0,19.0,4.0,15788,156,7,118,12,4,40647,205662,True,BLUE
121893,Freeze,160280.0,BOT,Kalista,429,5358.0,3.0,3.0,10566,268,1,3,2,3,10560,122936,False,BLUE
35557,Xiaohu,205317.0,MID,Sion,14,4997.0,11.0,2.0,12098,253,2,4,9,2,16256,130306,True,BLUE

In [8]:
#Make a dataframe dedicated to the team RED
df_normalized_teams['teams.RED.players'].explode()
df_normalized_RED = pd.json_normalize(df_normalized_teams['teams.RED.players'].explode())
df_RED = df_normalized_RED.copy()
df_RED.sample(5)

,name,id,role,champion_name,champion_id,gold_15,kills_assists_15,deaths_15,total_gold,total_cs,total_kills,total_monster_kills,total_assists,total_deaths,total_damage_taken,total_damage_dealt,win,side
48705,Crazy,141659.0,TOP,Ornn,516,5270.0,5.0,3.0,18151,443,0,4,5,3,27664,308090,True,RED
36486,Meteos,182315.0,JGL,Trundle,48,4765.0,6.0,2.0,9342,185,0,136,6,2,29343,151547,False,RED
111725,BOSS,191009.0,TOP,Aatrox,266,5035.0,7.0,2.0,10456,206,3,2,4,2,11980,106789,True,RED
29280,Dhokla,151574.0,TOP,Maokai,57,4413.0,0.0,2.0,10012,267,0,0,0,2,29846,152975,False,RED
109936,Tumay,397425.0,JGL,Taliyah,163,4372.0,3.0,4.0,7067,117,1,102,2,4,15036,115798,False,RED

In [9]:
#Make a dataframe dedicated to the Bans
df_normalized_teams['picks_bans'].explode()
df_normalized_BANS = pd.json_normalize(df_normalized_teams['picks_bans'].explode())
df_BANS = df_normalized_BANS.copy()
df_BANS.isnull().sum()/len(df_BANS)

champion_name    0.019285
is_ban           0.019285
dtype: float64

##  Include the game id to match later different DataFrames

We have two different dataframes for team Blue and team Red, later, we can merge them on the game id. This will also be useful when we want to come back for the y parameter!

In [10]:
get_index = df_normalized_teams['id'].tolist()
index_preproc = np.asarray([[index] * 5 for index in get_index])
index_teams = index_preproc.reshape(len(df_normalized_teams) * 5).tolist()
df_RED['game_id'] = index_teams
df_BLUE['game_id'] = index_teams

# Filter years that are going to be analyzed

In [11]:
# Get the years and the number of games played
df_normalized_teams['start'] = pd.to_datetime(df_normalized_teams['start'])
df_normalized_teams['year'] = pd.DatetimeIndex(df_normalized_teams['start']).year
games_year = df_normalized_teams.year.unique()

for year in games_year:
    N_games = len(df_normalized_teams[df_normalized_teams['year'] == year])
    print(f'Number of games in {year}: {N_games}')

Number of games in nan: 0

In [12]:
# Function that returns a Dataframe just with the years of interest
def choose_years_to_work(df, *args):
    years_dict = {}
    for year in args:
        years_dict[year] = df[df['year'] == year]
    return pd.concat(years_dict).droplevel(0)

df_data_by_year = choose_years_to_work(df_normalized_teams, 2021)
df_data_by_year.drop('start', axis=1, inplace=True)

# [SKIP] Retrieve the champions stats given a champion id and merge with the BLUE/RED team

From the page https://ddragon.leagueoflegends.com/cdn/12.3.1/data/en_US/champion.json, get the stats of a champion given a key or id value.

In [13]:
'''champion_description = '../raw_data/lol_12_3_1.json'

with open(champion_description) as data_file:    
    data_champions = json.load(data_file)'''

"champion_description = '../raw_data/lol_12_3_1.json'\n\nwith open(champion_description) as data_file:    \n    data_champions = json.load(data_file)"

In [14]:
# get the key and the stats for every champion in this version
# create a new dictionary with only the values of interest

'''champions_dict = {}
champions_names = list(data_champions['data'].keys())
for champion in champions_names:
    champions_dict[int(data_champions['data'][champion]['key'])] = data_champions['data'][champion]['stats']
champions_df = pd.DataFrame(champions_dict)
champions_df = champions_df.T
champions_df.reset_index(level=0, inplace=True)
champions_df['champion'] = champions_df['index']
champions_df.drop('index', axis=1, inplace=True)
champions_df'''

"champions_dict = {}\nchampions_names = list(data_champions['data'].keys())\nfor champion in champions_names:\n    champions_dict[int(data_champions['data'][champion]['key'])] = data_champions['data'][champion]['stats']\nchampions_df = pd.DataFrame(champions_dict)\nchampions_df = champions_df.T\nchampions_df.reset_index(level=0, inplace=True)\nchampions_df['champion'] = champions_df['index']\nchampions_df.drop('index', axis=1, inplace=True)\nchampions_df"

In [15]:
#Merge with BLUE team and drop the id of the champion, no needed anymore
'''df_BLUE = pd.merge(df_normalized_BLUE, champions_df, left_on='champion_id', right_on='champion', how='left')
df_BLUE.drop(['champion', 'champion_id'], axis=1, inplace=True)'''

"df_BLUE = pd.merge(df_normalized_BLUE, champions_df, left_on='champion_id', right_on='champion', how='left')\ndf_BLUE.drop(['champion', 'champion_id'], axis=1, inplace=True)"

In [16]:
#Merge with RED team and drop the id of the champion, no needed anymore
'''df_RED = pd.merge(df_normalized_RED, champions_df, left_on='champion_id', right_on='champion', how='left')
df_RED.drop(['champion', 'champion_id'], axis=1, inplace=True)'''

"df_RED = pd.merge(df_normalized_RED, champions_df, left_on='champion_id', right_on='champion', how='left')\ndf_RED.drop(['champion', 'champion_id'], axis=1, inplace=True)"

In [17]:
# do some feature engineering

# [Skip] Merged Blue and Red data

df_BLUE_RED = pd.merge(df_BLUE, df_RED, left_on='game_id', right_on='game_id', how='left')
df_BLUE_RED.sample(5)

df_BLUE_RED.keys()

df_BLUE_RED.info()

from sklearn.preprocessing import LabelEncoder

y = LabelEncoder().fit(df_BLUE_RED.win_x).transform(df_BLUE_RED.win_x)
y.sum(), y.sum()/len(y)

df_BLUE_RED.drop(['name_x', 'id_x', 'champion_id_x', 'win_x', 'side_x', 'game_id', 'name_y', 'id_y', 'champion_id_y', 'win_y', 'side_y'], axis=1, inplace=True)

df_BLUE_RED.keys()

from sklearn.preprocessing import OneHotEncoder

ohe = OneHotEncoder(sparse = False, handle_unknown='ignore')
ohe.fit(df_BLUE_RED[['role_x']])
blue_role_encoded = ohe.transform(df_BLUE_RED[['role_x']])
red_role_encoded = ohe.transform(df_BLUE_RED[['role_y']])
ohe.categories_

df_BLUE_RED['Blue_BOT'], df_BLUE_RED['Blue_JGL'], df_BLUE_RED['Blue_MID'], df_BLUE_RED['Blue_SUP'], df_BLUE_RED['Blue_TOP'] = blue_role_encoded.T
df_BLUE_RED.drop('role_x', axis=1, inplace=True)
df_BLUE_RED.sample(5)

df_BLUE_RED['Red_BOT'], df_BLUE_RED['Red_JGL'], df_BLUE_RED['Red_MID'], df_BLUE_RED['Red_SUP'], df_BLUE_RED['Red_TOP'] = red_role_encoded.T
df_BLUE_RED.drop('role_y', axis=1, inplace=True)
df_BLUE_RED.sample(5)

ohe_champ = OneHotEncoder(sparse = False, handle_unknown='ignore')
ohe_champ.fit(df_BLUE_RED[['champion_name_x']])
blue_champ_role_encoded = ohe_champ.transform(df_BLUE_RED[['champion_name_x']])
red_champ_role_encoded = ohe_champ.transform(df_BLUE_RED[['champion_name_y']])
ohe_champ.categories_

df_BLUE_RED['Blue_BOT'], df_BLUE_RED['Blue_JGL'], df_BLUE_RED['Blue_MID'], df_BLUE_RED['Blue_SUP'], df_BLUE_RED['Blue_TOP'] = blue_role_encoded.T
df_BLUE_RED.drop('role_x', axis=1, inplace=True)
df_BLUE_RED.sample(5)

# ML model

In [32]:
from sklearn.preprocessing import MinMaxScaler
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder
from sklearn.pipeline import make_pipeline
from sklearn.linear_model import LogisticRegression
from sklearn.compose import make_column_transformer
from sklearn.compose import make_column_selector

# Impute then Scale for numerical variables: 
num_transformer = make_pipeline(
                    SimpleImputer(strategy = 'mean'),
                    MinMaxScaler())

# Encode categorical variables
cat_transformer = OneHotEncoder(sparse = False)#, handle_unknown='ignore')

# Paralellize "num_transformer" and "One hot encoder"
preproc = make_column_transformer(
    (num_transformer, make_column_selector(dtype_include=['float64'])),
    (cat_transformer, make_column_selector(dtype_include=['object','bool'])),
    remainder='passthrough')

#add model
pipe = make_pipeline(preproc, LogisticRegression(solver='liblinear'))
pipe

Pipeline(memory=None,
         steps=[('columntransformer',
                 ColumnTransformer(n_jobs=None, remainder='passthrough',
                                   sparse_threshold=0.3,
                                   transformer_weights=None,
                                   transformers=[('pipeline',
                                                  Pipeline(memory=None,
                                                           steps=[('simpleimputer',
                                                                   SimpleImputer(add_indicator=False,
                                                                                 copy=True,
                                                                                 fill_value=None,
                                                                                 missing_values=nan,
                                                                                 strategy='mean',
                                                                                 verbose=0)),
                                                                  ('minmaxscaler',
                                                                   MinMaxS...
                                                  <sklearn.compose._column_transformer.make_column_selector object at 0x7fb00140a9d0>)],
                                   verbose=False)),
                ('logisticregression',
                 LogisticRegression(C=1.0, class_weight=None, dual=False,
                                    fit_intercept=True, intercept_scaling=1,
                                    l1_ratio=None, max_iter=100,
                                    multi_class='auto', n_jobs=None,
                                    penalty='l2', random_state=None,
                                    solver='liblinear', tol=0.0001, verbose=0,
                                    warm_start=False))],
         verbose=False)

In [33]:
df_BLUE.keys()

Index(['name', 'id', 'role', 'champion_name', 'champion_id', 'gold_15',
       'kills_assists_15', 'deaths_15', 'total_gold', 'total_cs',
       'total_kills', 'total_monster_kills', 'total_assists', 'total_deaths',
       'total_damage_taken', 'total_damage_dealt', 'win', 'side', 'game_id'],
      dtype='object')

In [35]:
from sklearn.preprocessing import LabelEncoder

y = LabelEncoder().fit(df_normalized_teams.winner).transform(df_normalized_teams.winner)
X_pre = df_BLUE.drop(['name', 'id', 'win', 'champion_id', 'side'], axis=1).groupby('game_id').sum()
X = X_pre

In [49]:
X.info()

<class 'pandas.core.frame.DataFrame'>
Index: 35320 entries, 2016 International Wildcard Invitational/Scoreboards/Bracket Stage_1_1 to XLG SuperCup 2016/Scoreboards_6_2
Data columns (total 11 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   gold_15              35320 non-null  float64
 1   kills_assists_15     35320 non-null  float64
 2   deaths_15            35320 non-null  float64
 3   total_gold           35320 non-null  int64
 4   total_cs             35320 non-null  int64
 5   total_kills          35320 non-null  int64
 6   total_monster_kills  35320 non-null  int64
 7   total_assists        35320 non-null  int64
 8   total_deaths         35320 non-null  int64
 9   total_damage_taken   35320 non-null  int64
 10  total_damage_dealt   35320 non-null  int64
dtypes: float64(3), int64(8)
memory usage: 3.2+ MB

In [44]:
df_BLUE.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 176600 entries, 0 to 176599
Data columns (total 19 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   name                 172701 non-null  object
 1   id                   172701 non-null  float64
 2   role                 176600 non-null  object
 3   champion_name        176600 non-null  object
 4   champion_id          176600 non-null  int64
 5   gold_15              176520 non-null  float64
 6   kills_assists_15     176575 non-null  float64
 7   deaths_15            176575 non-null  float64
 8   total_gold           176600 non-null  int64
 9   total_cs             176600 non-null  int64
 10  total_kills          176600 non-null  int64
 11  total_monster_kills  176600 non-null  int64
 12  total_assists        176600 non-null  int64
 13  total_deaths         176600 non-null  int64
 14  total_damage_taken   176600 non-null  int64
 15  total_damage_dealt   176600 non-null  int64
 16  win                  176600 non-null  bool
 17  side                 176600 non-null  object
 18  game_id              176600 non-null  object
dtypes: bool(1), float64(4), int64(9), object(5)
memory usage: 24.4+ MB

In [36]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

In [37]:
X_train.info()

<class 'pandas.core.frame.DataFrame'>
Index: 23664 entries, LST/2019 Season/Summer/Scoreboards/Week 7_4_1 to LCS/2019 Season/Spring Season/Scoreboards/Week 9_10_1
Data columns (total 11 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   gold_15              23664 non-null  float64
 1   kills_assists_15     23664 non-null  float64
 2   deaths_15            23664 non-null  float64
 3   total_gold           23664 non-null  int64
 4   total_cs             23664 non-null  int64
 5   total_kills          23664 non-null  int64
 6   total_monster_kills  23664 non-null  int64
 7   total_assists        23664 non-null  int64
 8   total_deaths         23664 non-null  int64
 9   total_damage_taken   23664 non-null  int64
 10  total_damage_dealt   23664 non-null  int64
dtypes: float64(3), int64(8)
memory usage: 2.2+ MB

In [38]:
# Train pipeline
pipe.fit(X_train,y_train)

# Score model
pipe.score(X_test,y_test)

0.5325154426904598

In [39]:
from sklearn.model_selection import cross_val_score

# Cross validate pipeline
cross_val_score(pipe, X_train, y_train, cv=10, scoring='accuracy').mean()

0.537398581724408

In [40]:
# Check predictions
pipe.predict(X_test.iloc[0:5]), y_test[0:5]

(array([0, 0, 0, 0, 0]), array([0, 1, 0, 1, 1]))

In [41]:
from sklearn import metrics

predicted = pipe.predict(X_test)
print(metrics.accuracy_score(y_test, predicted))
print(metrics.classification_report(y_test, predicted))

0.5325154426904598
              precision    recall  f1-score   support

           0       0.53      1.00      0.69      6207
           1       0.00      0.00      0.00      5449

    accuracy                           0.53     11656
   macro avg       0.27      0.50      0.35     11656
weighted avg       0.28      0.53      0.37     11656

/home/stephy/.pyenv/versions/3.8.12/envs/lewagon/lib/python3.8/site-packages/sklearn/metrics/_classification.py:1268: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

In [31]:
np.unique(predicted)

array([0])

In [46]:
model = pipe[-1]

In [47]:
model.coef_

array([[-1.40395486e-10, -6.63069850e-11, -4.21767914e-11,
        -3.36859164e-06, -6.54788583e-08, -3.95464568e-09,
        -6.88579470e-09, -6.64205139e-09, -3.04656228e-09,
        -4.01736383e-07,  1.15474872e-07]])