# Import data

In [180]:
import numpy as np
import pandas as pd
import json

In [181]:
file = '../raw_data/full_dump.json'
with open(file) as data_file:    
    data = json.load(data_file) 
len(data)

35320

In [182]:
data_keys = list(data.keys())
data_keys[:5]

['EU Challenger Series/2017 Season/Spring Qualifiers/Scoreboards_1_1',
 'EU Challenger Series/2017 Season/Spring Qualifiers/Scoreboards_2_1',
 'EU Challenger Series/2017 Season/Spring Qualifiers/Scoreboards_3_1',
 'EU Challenger Series/2017 Season/Spring Qualifiers/Scoreboards_4_1',
 'EU Challenger Series/2017 Season/Spring Qualifiers/Scoreboards_5_1']

In [183]:
import re

pattern = r'(\d{4})'
re.search(pattern, data_keys[2]).group(1)

year = []
no_year = []
for i in range(len(data_keys)):
    try:
        year.append(re.search(pattern, data_keys[i]).group(1))
    except:
        no_year.append(data_keys[i])

np.unique(year), len(no_year)

(array(['2016', '2017', '2018', '2019', '2020', '2021'], dtype='<U4'), 1703)

# Normalize the JSON file

Normalize means to expand the nested keys in the JSON file and the subsequent DataFrame.

In [184]:
#Normalize the complete dataframe and make a copy
df_normalized_teams = pd.json_normalize(data.values())
df_teams = df_normalized_teams.copy()
df_teams.sample(5)

,id,start,patch,winner,duration,picks_bans,teams.BLUE.name,teams.BLUE.total_turret_kills,teams.BLUE.total_inhibitor_kills,teams.BLUE.total_rift_herald_kills,...,teams.BLUE.side,teams.BLUE.players,teams.RED.name,teams.RED.total_turret_kills,teams.RED.total_inhibitor_kills,teams.RED.total_rift_herald_kills,teams.RED.total_dragon_kills,teams.RED.total_baron_kills,teams.RED.side,teams.RED.players
25682,División de Honor/2021 Season/Opening Promotio...,None,10.16,BLUE,2055,"[{'champion_name': 'Sett', 'is_ban': True}, {'...",ESTORM,10,2,2,...,BLUE,"[{'name': 'Steellar', 'id': 410667, 'role': 'T...",We Talent,4,0,0,2,1,RED,"[{'name': 'Marth', 'id': 413931, 'role': 'TOP'..."
32935,LCK/2016 Season/Spring Season/Scoreboards/Week...,None,6.6,BLUE,2362,[],Afreeca Freecs,10,2,1,...,BLUE,"[{'name': 'ikssu', 'id': 167412, 'role': 'TOP'...",Longzhu Gaming,4,0,0,2,0,RED,"[{'name': 'Expession', 'id': 158480, 'role': '..."
15770,LCL/2019 Season/Summer Season/Scoreboards/Week...,None,9.14,BLUE,1892,"[{'champion_name': 'Sona', 'is_ban': True}, {'...",Vega Squadron,9,1,1,...,BLUE,"[{'name': 'Doxy', 'id': 152267, 'role': 'TOP',...",Dragon Army,0,0,0,1,0,RED,"[{'name': 'Charger1', 'id': 123989, 'role': 'T..."
20538,LCS/2020 Season/Spring Season/Scoreboards/Tieb...,None,10.6,BLUE,1691,"[{'champion_name': 'Syndra', 'is_ban': True}, ...",Evil Geniuses.NA,7,1,0,...,BLUE,"[{'name': 'Kumo', 'id': 214202, 'role': 'TOP',...",100 Thieves,4,0,2,3,0,RED,"[{'name': 'Ssumday', 'id': 198406, 'role': 'TO..."
34777,LMS/2016 Season/Summer Season/Scoreboards/Week...,None,6.15,RED,2414,[],Flash Wolves,1,0,0,...,BLUE,"[{'name': 'MMD', 'id': 181067, 'role': 'TOP', ...",ahq eSports Club,10,2,0,4,2,RED,"[{'name': 'Ziv', 'id': 206577, 'role': 'TOP', ..."

In [185]:
#Make a dataframe dedicated to the teams 
df_teams.drop(['teams.BLUE.players', 'teams.RED.players', 'picks_bans'], axis=1, inplace=True)
df_teams.head()

,id,start,patch,winner,duration,teams.BLUE.name,teams.BLUE.total_turret_kills,teams.BLUE.total_inhibitor_kills,teams.BLUE.total_rift_herald_kills,teams.BLUE.total_dragon_kills,teams.BLUE.total_baron_kills,teams.BLUE.side,teams.RED.name,teams.RED.total_turret_kills,teams.RED.total_inhibitor_kills,teams.RED.total_rift_herald_kills,teams.RED.total_dragon_kills,teams.RED.total_baron_kills,teams.RED.side
0,EU Challenger Series/2017 Season/Spring Qualif...,None,6.24,BLUE,2023,Fnatic Academy,11,3,0,2,1,BLUE,EURONICS Gaming,4,0,0,1,0,RED
1,EU Challenger Series/2017 Season/Spring Qualif...,None,6.24,RED,1782,AlienTech eSports,3,0,0,0,0,BLUE,Team Larssen,7,1,1,2,1,RED
2,EU Challenger Series/2017 Season/Spring Qualif...,None,6.24,RED,2465,Bobaski,4,0,0,0,0,BLUE,Nerv,9,1,0,3,1,RED
3,EU Challenger Series/2017 Season/Spring Qualif...,None,6.24,BLUE,1925,Team Forge,11,4,0,4,1,BLUE,Tricked Esport,0,0,0,0,1,RED
4,EU Challenger Series/2017 Season/Spring Qualif...,None,6.24,BLUE,1507,Team-LDLC,11,3,0,1,1,BLUE,ASUS ROG Army,1,0,0,0,0,RED

In [186]:
#Make a dataframe dedicated to the team BLUE
df_normalized_teams['teams.BLUE.players'].explode()
df_normalized_BLUE = pd.json_normalize(df_normalized_teams['teams.BLUE.players'].explode())
df_BLUE = df_normalized_BLUE.copy()
df_BLUE.sample(5)

,name,id,role,champion_name,champion_id,gold_15,kills_assists_15,deaths_15,total_gold,total_cs,total_kills,total_monster_kills,total_assists,total_deaths,total_damage_taken,total_damage_dealt,win,side
137381,Blank,192473.0,JGL,Hecarim,120,5647.0,5.0,1.0,11734,214,2,189,3,1,27350,191306,False,BLUE
47736,Breaker,193037.0,JGL,Olaf,2,4513.0,10.0,6.0,11542,176,2,147,8,6,33856,148431,True,BLUE
31408,K1ng,170595.0,BOT,Varus,110,5207.0,13.0,3.0,25089,577,5,68,8,3,24186,450630,True,BLUE
45305,Luana,239763.0,TOP,Camille,164,5917.0,9.0,2.0,14889,309,4,36,5,2,21364,222664,True,BLUE
52811,Erasus,276051.0,JGL,Lee Sin,64,4679.0,1.0,5.0,9194,164,0,148,1,5,27652,155381,False,BLUE

In [187]:
#Make a dataframe dedicated to the team RED
df_normalized_teams['teams.RED.players'].explode()
df_normalized_RED = pd.json_normalize(df_normalized_teams['teams.RED.players'].explode())
df_RED = df_normalized_RED.copy()
df_RED.sample(5)

,name,id,role,champion_name,champion_id,gold_15,kills_assists_15,deaths_15,total_gold,total_cs,total_kills,total_monster_kills,total_assists,total_deaths,total_damage_taken,total_damage_dealt,win,side
127518,Zeypher,206453.0,BOT,Ashe,22,5002.0,4.0,3.0,10111,256,1,12,3,3,10574,128161,False,RED
149535,Low,306455.0,TOP,Gnar,150,4701.0,1.0,4.0,8693,230,0,0,1,4,17791,108487,False,RED
153406,Pyosik,350277.0,JGL,Lillia,876,4574.0,6.0,4.0,11085,231,0,182,6,4,33282,248953,False,RED
6224,Nova,186181.0,SUP,Karma,43,2925.0,6.0,1.0,12054,49,1,0,5,1,14201,27303,False,RED
55495,Thal,200983.0,TOP,Urgot,6,4560.0,12.0,4.0,15430,309,3,14,9,4,26113,233131,True,RED

In [188]:
#Make a dataframe dedicated to the Bans
df_normalized_teams['picks_bans'].explode()
df_normalized_BANS = pd.json_normalize(df_normalized_teams['picks_bans'].explode())
df_BANS = df_normalized_BANS.copy()
df_BANS.isnull().sum()/len(df_BANS)

champion_name    0.019285
is_ban           0.019285
dtype: float64

##  Include the game id to match later different DataFrames

We have two different dataframes for team Blue and team Red, later, we can merge them on the game id. This will also be useful when we want to come back for the y parameter!

In [189]:
get_index = df_normalized_teams['id'].tolist()
index_preproc = np.asarray([[index] * 5 for index in get_index])
index_teams = index_preproc.reshape(len(df_normalized_teams) * 5).tolist()
df_RED['game_id'] = index_teams
df_BLUE['game_id'] = index_teams

# Filter years that are going to be analyzed

In [190]:
# Get the years and the number of games played
df_normalized_teams['start'] = pd.to_datetime(df_normalized_teams['start'])
df_normalized_teams['year'] = pd.DatetimeIndex(df_normalized_teams['start']).year
games_year = df_normalized_teams.year.unique()

for year in games_year:
    N_games = len(df_normalized_teams[df_normalized_teams['year'] == year])
    print(f'Number of games in {year}: {N_games}')

Number of games in nan: 0

In [191]:
# Function that returns a Dataframe just with the years of interest
def choose_years_to_work(df, *args):
    years_dict = {}
    for year in args:
        years_dict[year] = df[df['year'] == year]
    return pd.concat(years_dict).droplevel(0)

df_data_by_year = choose_years_to_work(df_normalized_teams, 2021)
df_data_by_year.drop('start', axis=1, inplace=True)

# [SKIP] Retrieve the champions stats given a champion id and merge with the BLUE/RED team

From the page https://ddragon.leagueoflegends.com/cdn/12.3.1/data/en_US/champion.json, get the stats of a champion given a key or id value.

In [192]:
'''champion_description = '../raw_data/lol_12_3_1.json'

with open(champion_description) as data_file:    
    data_champions = json.load(data_file)'''

"champion_description = '../raw_data/lol_12_3_1.json'\n\nwith open(champion_description) as data_file:    \n    data_champions = json.load(data_file)"

In [193]:
# get the key and the stats for every champion in this version
# create a new dictionary with only the values of interest

'''champions_dict = {}
champions_names = list(data_champions['data'].keys())
for champion in champions_names:
    champions_dict[int(data_champions['data'][champion]['key'])] = data_champions['data'][champion]['stats']
champions_df = pd.DataFrame(champions_dict)
champions_df = champions_df.T
champions_df.reset_index(level=0, inplace=True)
champions_df['champion'] = champions_df['index']
champions_df.drop('index', axis=1, inplace=True)
champions_df'''

"champions_dict = {}\nchampions_names = list(data_champions['data'].keys())\nfor champion in champions_names:\n    champions_dict[int(data_champions['data'][champion]['key'])] = data_champions['data'][champion]['stats']\nchampions_df = pd.DataFrame(champions_dict)\nchampions_df = champions_df.T\nchampions_df.reset_index(level=0, inplace=True)\nchampions_df['champion'] = champions_df['index']\nchampions_df.drop('index', axis=1, inplace=True)\nchampions_df"

In [194]:
#Merge with BLUE team and drop the id of the champion, no needed anymore
'''df_BLUE = pd.merge(df_normalized_BLUE, champions_df, left_on='champion_id', right_on='champion', how='left')
df_BLUE.drop(['champion', 'champion_id'], axis=1, inplace=True)'''

"df_BLUE = pd.merge(df_normalized_BLUE, champions_df, left_on='champion_id', right_on='champion', how='left')\ndf_BLUE.drop(['champion', 'champion_id'], axis=1, inplace=True)"

In [195]:
#Merge with RED team and drop the id of the champion, no needed anymore
'''df_RED = pd.merge(df_normalized_RED, champions_df, left_on='champion_id', right_on='champion', how='left')
df_RED.drop(['champion', 'champion_id'], axis=1, inplace=True)'''

"df_RED = pd.merge(df_normalized_RED, champions_df, left_on='champion_id', right_on='champion', how='left')\ndf_RED.drop(['champion', 'champion_id'], axis=1, inplace=True)"

In [196]:
# do some feature engineering

# [Skip] Merged Blue and Red data

df_BLUE_RED = pd.merge(df_BLUE, df_RED, left_on='game_id', right_on='game_id', how='left')
df_BLUE_RED.sample(5)

df_BLUE_RED.keys()

df_BLUE_RED.info()

from sklearn.preprocessing import LabelEncoder

y = LabelEncoder().fit(df_BLUE_RED.win_x).transform(df_BLUE_RED.win_x)
y.sum(), y.sum()/len(y)

df_BLUE_RED.drop(['name_x', 'id_x', 'champion_id_x', 'win_x', 'side_x', 'game_id', 'name_y', 'id_y', 'champion_id_y', 'win_y', 'side_y'], axis=1, inplace=True)

df_BLUE_RED.keys()

from sklearn.preprocessing import OneHotEncoder

ohe = OneHotEncoder(sparse = False, handle_unknown='ignore')
ohe.fit(df_BLUE_RED[['role_x']])
blue_role_encoded = ohe.transform(df_BLUE_RED[['role_x']])
red_role_encoded = ohe.transform(df_BLUE_RED[['role_y']])
ohe.categories_

df_BLUE_RED['Blue_BOT'], df_BLUE_RED['Blue_JGL'], df_BLUE_RED['Blue_MID'], df_BLUE_RED['Blue_SUP'], df_BLUE_RED['Blue_TOP'] = blue_role_encoded.T
df_BLUE_RED.drop('role_x', axis=1, inplace=True)
df_BLUE_RED.sample(5)

df_BLUE_RED['Red_BOT'], df_BLUE_RED['Red_JGL'], df_BLUE_RED['Red_MID'], df_BLUE_RED['Red_SUP'], df_BLUE_RED['Red_TOP'] = red_role_encoded.T
df_BLUE_RED.drop('role_y', axis=1, inplace=True)
df_BLUE_RED.sample(5)

ohe_champ = OneHotEncoder(sparse = False, handle_unknown='ignore')
ohe_champ.fit(df_BLUE_RED[['champion_name_x']])
blue_champ_role_encoded = ohe_champ.transform(df_BLUE_RED[['champion_name_x']])
red_champ_role_encoded = ohe_champ.transform(df_BLUE_RED[['champion_name_y']])
ohe_champ.categories_

df_BLUE_RED['Blue_BOT'], df_BLUE_RED['Blue_JGL'], df_BLUE_RED['Blue_MID'], df_BLUE_RED['Blue_SUP'], df_BLUE_RED['Blue_TOP'] = blue_role_encoded.T
df_BLUE_RED.drop('role_x', axis=1, inplace=True)
df_BLUE_RED.sample(5)

# ML model

In [199]:
from sklearn.preprocessing import MinMaxScaler
from sklearn.impute import SimpleImputer
from sklearn.pipeline import make_pipeline
from sklearn.linear_model import LogisticRegression
from sklearn.compose import make_column_transformer
from sklearn.compose import make_column_selector

# Impute then Scale for numerical variables: 
num_transformer = make_pipeline(
                    SimpleImputer(strategy = 'mean'),
                    MinMaxScaler())

# Encode categorical variables
cat_transformer = OneHotEncoder(sparse = False, handle_unknown='ignore')

# Paralellize "num_transformer" and "One hot encoder"
preproc = make_column_transformer(
    (num_transformer, make_column_selector(dtype_include=['float64'])),
    (cat_transformer, make_column_selector(dtype_include=['object','bool'])),
    remainder='passthrough')

#add model
pipe = make_pipeline(preproc, LogisticRegression(solver='liblinear'))
pipe

Pipeline(memory=None,
         steps=[('columntransformer',
                 ColumnTransformer(n_jobs=None, remainder='passthrough',
                                   sparse_threshold=0.3,
                                   transformer_weights=None,
                                   transformers=[('pipeline',
                                                  Pipeline(memory=None,
                                                           steps=[('simpleimputer',
                                                                   SimpleImputer(add_indicator=False,
                                                                                 copy=True,
                                                                                 fill_value=None,
                                                                                 missing_values=nan,
                                                                                 strategy='mean',
                                                                                 verbose=0)),
                                                                  ('minmaxscaler',
                                                                   MinMaxS...
                                                  <sklearn.compose._column_transformer.make_column_selector object at 0x7fbfeb761a90>)],
                                   verbose=False)),
                ('logisticregression',
                 LogisticRegression(C=1.0, class_weight=None, dual=False,
                                    fit_intercept=True, intercept_scaling=1,
                                    l1_ratio=None, max_iter=100,
                                    multi_class='auto', n_jobs=None,
                                    penalty='l2', random_state=None,
                                    solver='liblinear', tol=0.0001, verbose=0,
                                    warm_start=False))],
         verbose=False)

In [203]:
df_BLUE.keys()

Index(['name', 'id', 'role', 'champion_name', 'champion_id', 'gold_15',
       'kills_assists_15', 'deaths_15', 'total_gold', 'total_cs',
       'total_kills', 'total_monster_kills', 'total_assists', 'total_deaths',
       'total_damage_taken', 'total_damage_dealt', 'win', 'side', 'game_id'],
      dtype='object')

In [200]:
from sklearn.preprocessing import LabelEncoder

y = LabelEncoder().fit(df_normalized_teams.winner).transform(df_normalized_teams.winner)
X_pre = df_BLUE.drop(['name', 'id', 'win', 'champion_id', 'side'], axis=1).groupby('game_id').sum()
X = X_pre

In [201]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

In [202]:
X_train.info()

<class 'pandas.core.frame.DataFrame'>
Index: 23664 entries, LST/2019 Season/Summer/Scoreboards/Week 7_4_1 to LCS/2019 Season/Spring Season/Scoreboards/Week 9_10_1
Data columns (total 11 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   gold_15              23664 non-null  float64
 1   kills_assists_15     23664 non-null  float64
 2   deaths_15            23664 non-null  float64
 3   total_gold           23664 non-null  int64
 4   total_cs             23664 non-null  int64
 5   total_kills          23664 non-null  int64
 6   total_monster_kills  23664 non-null  int64
 7   total_assists        23664 non-null  int64
 8   total_deaths         23664 non-null  int64
 9   total_damage_taken   23664 non-null  int64
 10  total_damage_dealt   23664 non-null  int64
dtypes: float64(3), int64(8)
memory usage: 2.2+ MB

In [178]:
# Train pipeline
pipe.fit(X_train,y_train)

# Make predictions
pipe.predict(X_test.iloc[0:2])

# Score model
pipe.score(X_test,y_test)

0.5325154426904598

In [179]:
from sklearn.model_selection import cross_val_score

# Cross validate pipeline
cross_val_score(pipe, X_train, y_train, cv=10, scoring='r2').mean()

-0.8608163977257544